.container-1 {
    background-image: radial-gradient(circle at 50% 50%, #029aee, #024eee 98%);
}

.card-shadow {
    box-shadow: 0 0 10px 0 rgba(15, 85, 172, 0.4);
}

.btn-width {
    width: 207px;
}

.text-blue {
    color: #0277ee;
}

.poppins-18 {
    font-size: 18px;
}

.poppins-28 {
    font-size: 28px;
}

.poppins-14 {
    font-size: 14px;
}

.poppins-24 {
    font-size: 24px;
}

.poppins-12 {
    font-size: 12px;
}

.fw-bold {
    font-weight: bold;
}

.fw-normal {
    font-weight: normal;
}

.text-muted-1 {
    color: #000;
}

.fw-600 {
    font-weight: 600;
}

.container-1 {
    .item-1 {
        font-family: Poppins;
        font-size: 38px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.46;
        letter-spacing: normal;
        text-align: left;
        color: #fff;
    }
    .item-2 {
        font-family: Poppins;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.8;
        letter-spacing: 0.18px;
        text-align: left;
        color: #fff;
    }
    .most-inner-div {
        background: #fff;
        height: 80px;
        width: 80px;
        border-radius: 40px;
    }
    .second-inner-div {
        border: dashed 1px #edf5ff;
        height: 300px;
        width: 300px;
        border-radius: 150px;
    }
    .outer-div {
        border: dashed 1px #edf5ff;
        height: 400px;
        width: 400px;
        border-radius: 200px;
        position: relative;
        // z-index: -1
    }
    .card-1 {
        width: 183px;
        height: 103px;
        position: absolute;
        top: 16%;
        left: 55%;
    }
    .card-2 {
        width: 183px;
        height: 103px;
        position: absolute;
        top: 67%;
        left: 54%;
    }
    .card-3 {
        width: 183px;
        height: 103px;
        position: absolute;
        top: 43%;
        left: 82%;
    }
    .btn-text {
        color: #0277ee;
        font-size: 14px;
    }
    .btn-width {
        width: 207px
    }
    // .left-container {
    //     position: absolute;
    // }
}

.business-steps {
    h4 {
        font-family: Poppins;
        font-size: 28px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.46;
        letter-spacing: normal;
        text-align: left;
        color: #000;
    }
    .pr-4 {
        margin-right: 23px;
    }
}

.business-history {
    background: #edf5ff;
}

.business-hisory {
    .poppins-24 {
        font-size: 24px;
        font-family: Poppins;
    }
    .company-logo {
        width: 22.3px;
        height: 22.9px;
        background-color: #e30a17;
    }
}

.consultancy {
    background: #effff1;
}

.btn-border {
    border-radius: 4px;
    border: solid 1px #35bc49;
}

.profile-logo {
    width: 65.7px;
    height: 65.2px;
    border-radius: 34px;
}

.row {
    --bs-gutter-x: 0;
}
