<div class="container-fluid p-0 m-0 ">
    <div class="row p-0 m-0">

        <div class="row container-1 pb-5 pt-4 ">
            <div class="col-lg-6 col-md-6 col-sm-12 ">
                <div class="ms-4 mt-4 mb-2">
                    <h4 class="item-1">
                        Helping businesses get <br> started in UAE fast and <br> easily
                    </h4>
                </div>
                <div class="ms-4 mt-4">
                    <p class="item-2 text-justify">
                        Lorem Ipsum is simply dummy text of the printing and <br> typesetting industry. Lorem Ipsum has been the <br> industry’s standard dummy text ever since the,<br> when an unknown took a galley of type
                    </p>
                </div>
                <div class=" ms-4 mt-4 mb-4">
                    <button class="btn bg-white btn-text btn-width" (click)="navigateToBusiness()">
                    Get Started
                  </button>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center align-items-center  ">
                <div class=" d-sm-block d-none">
                    <div class="outer-div d-flex align-items-center justify-content-center">
                        <div class="second-inner-div d-flex justify-content-center align-items-center">
                            <div class="most-inner-div align-items-center d-flex justify-content-center m-4">
                                <img src="/assets/evernote.svg" alt="" class="m-2 ">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-1 card d-md-block d-none">
                    <div class="card-body">
                        <img src="/assets/home/icon_Timer.svg" alt="">
                        <h5 class="poppins-18 fw-600 mt-2">
                            Quick process
                        </h5>
                    </div>

                </div>
                <div class="card-2 card  d-md-block d-none">
                    <div class="card-body ">
                        <img src="/assets/home/icon_Options.svg" alt="">
                        <h5 class="poppins-18 fw-600 mt-2">
                            Multiple options
                        </h5>
                    </div>

                </div>
                <div class="card-3 card d-md-block d-none">
                    <div class="card-body">
                        <img src="/assets/home/icon_Timer.svg" alt="">
                        <h5 class="poppins-18 fw-600 mt-2">
                            Save money
                        </h5>
                    </div>

                </div>
            </div>
        </div>
        <div class="business-steps col-md-12 mt-4">
            <div class="row mt-4 justify-content-between ">


                <div class="ps-4  col-lg-7 col-md-6 col-sm-12">
                    <h4>
                        Get your business started with 4 easy steps
                    </h4>
                </div>
                <div class=" accordion-header col-lg-2 col-md-3 col-sm-12 pr-4">
                    <button class="btn btn-primary btn-text btn-width" (click)="navigateToBusiness()">
                        Get Started
                      </button>
                </div>

                <div class="row mt-4">
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3 ">
                        <div class="card card-shadow m-2 mx-4">

                            <div class="card-body">
                                <h5 class="poppins-18 fw-600">Step1:</h5>
                                <h5 class="text-blue fw-600 poppins-18">Select Licenese</h5>
                                <p class="text-muted-1 poppins-14">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                        <div class="card card-shadow m-2 mx-4">

                            <div class="card-body">
                                <h5 class="poppins-18 fw-600">Step2:</h5>
                                <h5 class="text-blue fw-600 poppins-18">Select Business Activity</h5>
                                <p class="text-muted-1 poppins-14">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                        <div class="card card-shadow m-2 mx-4">

                            <div class="card-body">
                                <h5 class="poppins-18 fw-600 ">Step3:</h5>
                                <h5 class="text-blue fw-600 poppins-18"> Select Facility</h5>
                                <p class="text-muted-1 poppins-14 ">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="card card-shadow m-2 mx-4">

                            <div class="card-body">
                                <h5 class="poppins-18 fw-600">Step4:</h5>
                                <h5 class="text-blue fw-600 poppins-18">Select Legal Structure</h5>
                                <p class="text-muted-1 poppins-14">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="business-history mb-4 mt-4 p-4">
            <div class="row ">
                <h4 class="poppins-24 text-center mb-4 mt-4">
                    Business which we have helped
                </h4>
                <div class="d-flex justify-content-center  ">
                    <div class="row  justify-content-center ">

                        <div class="col-lg-8 col-md-9 col-sm-12 row  justify-content-center ">
                            <div class="col-md-1 col-sm-2">
                                <img src="/assets/home/company-logo/mercedes.svg" alt="" class="m-2 company-logo">
                            </div>
                            <div class="col-md-1 col-sm-2">
                                <img src="/assets/home/company-logo/sketch.svg" alt="" class="m-2 company-logo">
                            </div>
                            <div class="col-md-1 col-sm-2">

                                <img src="/assets/home/company-logo/microsoft.svg" alt="" class="m-2 company-logo">
                            </div>
                            <div class="col-md-1 col-sm-2">
                                <img src="/assets/home/company-logo/bmw.svg" alt="" class="m-2 company-logo">
                            </div>

                            <div class="col-md-1 col-sm-2">
                                <img src="/assets/home/company-logo/spotify.svg" alt="" class="m-2 company-logo">
                            </div>

                            <div class="col-md-1 col-sm-2">
                                <img src="/assets/home/company-logo/Facebook.svg" alt="" class="m-2 company-logo">
                            </div>

                            <div class="col-md-1 col-sm-2">
                                <img src="/assets/home/company-logo/netflix.svg" alt="" class="m-2 company-logo">
                            </div>
                            <div class="col-md-1 col-sm-2">

                                <img src="/assets/home/company-logo/slack.svg" alt="" class="m-2 company-logo">
                            </div>
                            <div class="col-md-1 col-sm-2">
                                <img src="/assets/home/company-logo/figma.svg" alt="" class="m-2 company-logo">
                            </div>

                            <div class="col-md-1 col-sm-2">
                                <img src="/assets/home/company-logo/google.svg" alt="" class="m-2 company-logo">
                            </div>
                            <div class="col-md-1 col-sm-2">
                                <img src="/assets/home/company-logo/mercedes.svg" alt="" class="m-2 company-logo">
                            </div>

                            <div class="col-md-1 col-sm-2">
                                <img src="/assets/home/company-logo/sketch.svg" alt="" class="m-2 company-logo">
                            </div>

                            <div class="col-md-1 col-sm-2">
                                <img src="/assets/home/company-logo/microsoft.svg" alt="" class="m-2 company-logo">
                            </div>

                            <div class="col-md-1 col-sm-2">
                                <img src="/assets/home/company-logo/bmw.svg" alt="" class="m-2 company-logo">
                            </div>
                            <div class="col-md-1 col-sm-2">
                                <img src="/assets/home/company-logo/google.svg" alt="" class="m-2 company-logo">
                            </div>
                            <div class="col-md-1 col-sm-2">
                                <img src="/assets/home/company-logo/mercedes.svg" alt="" class="m-2 company-logo">
                            </div>

                            <div class="col-md-1 col-sm-2">
                                <img src="/assets/home/company-logo/sketch.svg" alt="" class="m-2 company-logo">
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="standard-packages mt-5 mb-4 ">
            <div class="row">
                <div class="col-lg-9 col-md-10 col-sm-12 ">
                    <h4 class="poppins-28 fw-600 mb-4 ms-4">
                        Standard packages
                    </h4>
                    <p class="poppins-18 text-justify ms-4 text-muted-1">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book starting
                        from <span class="text-blue">AED 500</span>
                    </p>
                    <button class="btn btn-primary btn-width  ms-4">
                view more
              </button>
                </div>
            </div>
        </div>
        <div class="consultancy mt-4 p-5 row justify-content-center">
            <div class="col-lg-10 col-md-10 col-sm-12">
                <h4 class="poppins-28 fw-600 text-center mb-4 m-3 ">Not sure where to start? We are there for you (consultancy)</h4>
                <p class="poppins-18 text-center text-muted-1">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                    survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary btn-text btn-width" (click)="navigateToBusiness()">
                    Get Started
                  </button>

                    <button class="btn btn-width poppins-14 fw-600 btn-border  ms-4">
  <img src="/assets/home/whatsapp.svg" alt=""> let's chat
                </button>
                </div>
            </div>
        </div>
        <div class="faqs mt-5 mb-5">
            <div class="row px-4">
                <h4 class="poppins-28 fw-600 ">
                    FAQs
                </h4>
                <div class="card  border-0 mt-3">
                    <div class="card-header  border-bottom-0 bg-white ps-0">
                        <div class="d-flex justify-content-between ">
                            <p class="poppins-18 mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry</p>
                            <img src="/assets/home/icon_Add.svg" alt="" (click)="viewMore()">
                        </div>
                        <div class="card-body b ps-0 " *ngIf="isShown">
                            <p class="poppins-18 mb-0">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo porro, nostrum iure ex, odit necessitatibus rerum nam aliquam harum dolorum doloremque dolores sed, officiis quo consequuntur placeat vitae inventore? Eum vel nulla, consequatur, nemo laboriosam
                                nam at amet, nisi voluptatibus aut repellat. Vitae repellendus debitis aut adipisci quo? Adipisci vel voluptatum illo saepe consequatur veritatis eveniet repellendus qui dolores voluptatem. Hic magnam optio aut, numquam
                                nihil facilis nisi eius vero aperiam blanditiis. Voluptate voluptatem minima quod cum, ipsum eveniet exercitationem expedita officia temporibus illo deserunt accusantium incidunt laboriosam sunt error, commodi debitis beatae
                                ab vero. Veritatis ipsam ipsum eaque impedit!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card  border-0">
                    <div class="card-header  border-bottom-0 bg-white ps-0">
                        <div class="d-flex justify-content-between ">
                            <p class="poppins-18 mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry</p>
                            <img src="/assets/home/icon_Add.svg" alt="" (click)="viewMore()">
                        </div>
                        <div class="card-body b ps-0 " *ngIf="isShown">
                            <p class="poppins-18">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo porro, nostrum iure ex, odit necessitatibus rerum nam aliquam harum dolorum doloremque dolores sed, officiis quo consequuntur placeat vitae inventore? Eum vel nulla, consequatur, nemo laboriosam
                                nam at amet, nisi voluptatibus aut repellat. Vitae repellendus debitis aut adipisci quo? Adipisci vel voluptatum illo saepe consequatur veritatis eveniet repellendus qui dolores voluptatem. Hic magnam optio aut, numquam
                                nihil facilis nisi eius vero aperiam blanditiis. Voluptate voluptatem minima quod cum, ipsum eveniet exercitationem expedita officia temporibus illo deserunt accusantium incidunt laboriosam sunt error, commodi debitis beatae
                                ab vero. Veritatis ipsam ipsum eaque impedit!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card  border-0">
                    <div class="card-header  border-bottom-0 bg-white ps-0">
                        <div class="d-flex justify-content-between ">
                            <p class="poppins-18 mb-0 ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry</p>
                            <img src="/assets/home/icon_Add.svg" alt="" (click)="viewMore()">
                        </div>
                        <div class="card-body b ps-0 " *ngIf="isShown">
                            <p class="poppins-18">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo porro, nostrum iure ex, odit necessitatibus rerum nam aliquam harum dolorum doloremque dolores sed, officiis quo consequuntur placeat vitae inventore? Eum vel nulla, consequatur, nemo laboriosam
                                nam at amet, nisi voluptatibus aut repellat. Vitae repellendus debitis aut adipisci quo? Adipisci vel voluptatum illo saepe consequatur veritatis eveniet repellendus qui dolores voluptatem. Hic magnam optio aut, numquam
                                nihil facilis nisi eius vero aperiam blanditiis. Voluptate voluptatem minima quod cum, ipsum eveniet exercitationem expedita officia temporibus illo deserunt accusantium incidunt laboriosam sunt error, commodi debitis beatae
                                ab vero. Veritatis ipsam ipsum eaque impedit!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card  border-0">
                    <div class="card-header  border-bottom-0 bg-white ps-0">
                        <div class="d-flex justify-content-between ">
                            <p class="poppins-18 mb-0 ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry</p>
                            <img src="/assets/home/icon_Add.svg" alt="" (click)="viewMore()">
                        </div>
                        <div class="card-body b ps-0 " *ngIf="isShown">
                            <p class="poppins-18">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo porro, nostrum iure ex, odit necessitatibus rerum nam aliquam harum dolorum doloremque dolores sed, officiis quo consequuntur placeat vitae inventore? Eum vel nulla, consequatur, nemo laboriosam
                                nam at amet, nisi voluptatibus aut repellat. Vitae repellendus debitis aut adipisci quo? Adipisci vel voluptatum illo saepe consequatur veritatis eveniet repellendus qui dolores voluptatem. Hic magnam optio aut, numquam
                                nihil facilis nisi eius vero aperiam blanditiis. Voluptate voluptatem minima quod cum, ipsum eveniet exercitationem expedita officia temporibus illo deserunt accusantium incidunt laboriosam sunt error, commodi debitis beatae
                                ab vero. Veritatis ipsam ipsum eaque impedit!
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="testimonial  mb-5  ">
            <h4 class="poppins-28 fw-600 text-center m-5">
                Testimonials
            </h4>
            <div class="row justify-content-center ">
                <div class="col-lg-6 col-md-8 col-sm-12 d-flex justify-content-center">
                    <div class="card ">
                        <div class="card-body ">
                            <div class="d-flex align-items-start">
                                <img src="\assets\home\“.svg">
                                <p>
                                    Yourname's ongoing assistance has certainly been of significant and direct benefit to us in terms of User Experience as well as website functionality and integration with our internal systems. More than the efficient delivery of tasks/projects and rapid
                                    response to any issues encountered, we have found Rowan's consultative approach invaluable. His up-to-date knowledge and experience combined with a focus on understanding exactly what we are wanting to achieve (and
                                    why), has frequently lead to outcomes that we hadn't realised were possible and that exceed our expectations. Yourname would be a valuable asset to any business.
                                </p>
                            </div>
                            <div class="d-flex">
                                <img src="/assets/home/tushar.jpg" alt="" class="profile-logo">
                                <div class="ms-3 mt-2">
                                    <h5 class="text-blue poppins-14 fw-bold">
                                        Firstname Lastname
                                    </h5>
                                    <p class="poppins-12 mt-2 fw-normal ">
                                        Partnerships & Project Marketing Services Specialist Big Company Pty
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
