.container-1 {
  background-image: radial-gradient(circle at 50% 50%, #029aee, #024eee 98%);
}

.card-shadow {
  -webkit-box-shadow: 0 0 10px 0 rgba(15, 85, 172, 0.4);
          box-shadow: 0 0 10px 0 rgba(15, 85, 172, 0.4);
}

.text-blue {
  color: #0277ee;
}

.poppins-18 {
  font-size: 18px;
}

.poppins-14 {
  font-size: 14px;
}

.text-muted-1 {
  color: #000;
}

.fw-600 {
  font-weight: 600;
}

.container-1 .item-1 {
  font-family: Poppins;
  font-size: 38px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.container-1 .item-2 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0.18px;
  text-align: left;
  color: #fff;
}

.container-1 .btn-text {
  color: #0277ee;
  font-size: 14px;
}

.container-1 .btn-width {
  width: 207px;
}

.business-steps h4 {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.business-steps .btn-width {
  width: 207px;
}
/*# sourceMappingURL=home.component.css.map */