<div class="container m-0 p-0">
  <div class="row p-5 pt-2">
    <div class="justify-content-between row ps-0">
      <div class="col-lg-6 col-md-6 col-sm-12 p-0">
        <h4 class="poppins-18 fw-600 mb-3">Required Document</h4>
      </div>
      <div Class="col-lg-6 col-md-6 col-sm-12">
        <div class="d-flex justify-content-end">
          <button
            (click)="save()"
            class="btn btn-primary poppins-12 fw-600 ms-3"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
    <div class="row Rectangle-2207 pt-2 pb-2 ps-0 mt-3">
      <div class="col-lg-12">
        <p class="poppins-14 fw-normal mb-0">
          Note for additional information based on selected things
        </p>
      </div>
    </div>
    <div class="row Rectangle-2211 pt-2 pb-2 ps-0">
      <div class="col-lg-12 d-flex align-items-center h-92">
        <p class="poppins-16 fw-600 ms-0">
          Please upload the required documents
        </p>
      </div>
    </div>
    <div class="row p-0 mt-3">
      <div
        *ngFor="let document of requiredDocumentList; index as i"
        class="col-lg-5 col-md-6 col-sm-12 p-0 m-2"
      >
        <div class="form-group">
          <label class="Poppins-14 ms-0">{{ document.documentName }}</label>
          <div class="row">
            <div class="col-12">
              <div class="iconImgPosition mt-2 ">
                <img src="../assets/icon_Document.svg" alt="" class="documentImg" />
                <div class="d-flex align-items-center">
                  <input
                    type="file"
                    [placeholder]="document.documentName"
                    class="form-control mt-2 pl-25 mx-1"
                    [(ngModel)]="blobFile[i]"
                    (change)="base($event, i)"
                    accept=".png, .jpg, .pdf, .doc, .docx"
                    style="position: relative"
                  />
                  <i
                    class="margin-top-5 cursor-pointer ms-2 fa fa-eye"
                    (click)="selectDocument(i)"
                  ></i>
                  <img
                    src="../assets/icon_Remove.svg"
                    (click)="deleteText(i)"
                    alt=""
                    class="mx-2 margin-top-5 cursor-pointer"
                  />
                </div>
              </div>
            </div>
            <div class="col-12 pt-3">
              <div class="row">
                <div class="col-md-6 col-12 " *ngFor="let fieldName of document.metaData">
                  <div class="form-group" >
                    <label class="label">{{ fieldName }}</label>
                    <input type="text" class="form-control" [(ngModel)]="metaDataInfo[document.documentName][fieldName]" />
                  </div>
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
      <!-- <div class="col-lg-5 col-md-6 col-sm-12 p-0 m-2 ">
                <div class="form-group  ">
                    <label class="Poppins-14 ms-0 ">Document2</label>
                    <div class="iconImgPosition mt-2">
                        <img src="../assets/icon_Document.svg" alt="" class="documentImg">
                        <input type="text" placeholder=" Document 2.pdf" class="form-control  mt-2">
                        <img src="../assets/icon_Remove.svg" alt="" class="removeImg">
                    </div>

                </div>
            </div> -->
    </div>
    <!-- <div class="row p-0 mt-2 ">
            <div class="col-lg-5 col-md-6 col-sm-12 m-2 p-0">
                <div class="form-group">
                    <label class="Poppins-14 ms-0">Document3</label>
                    <div class="uploadDiv mt-2">
                        <label for="upload">
                      <span area-hidden="true"><img src="../assets/icon_Upload.svg" alt=""></span>

                      <input type="file" id="upload" style="display: none;" class="form-control mt-2">
                  </label>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12 p-0 m-2">
                <div class="form-group ">
                    <label class="Poppins-14 ms-0">Document4</label>
                    <div class="uploadDiv mt-2">
                        <label for="upload">
                      <span area-hidden="true"><img src="../assets/icon_Upload.svg" alt=""></span>

                      <input type="file" id="upload" style="display: none;" class="form-control mt-2">
                  </label>
                    </div>
                </div>
            </div>

        </div>
        <div class="row p-0 mt-2 ">
            <div class="col-lg-5 col-md-6 col-sm-12 p-0 m-2">
                <div class="form-group ms-0">
                    <label class="Poppins-14 ms-0">Document5</label>
                    <div class="uploadDiv mt-2">
                        <label for="upload">
                      <span area-hidden="true"><img src="../assets/icon_Upload.svg" alt=""></span>

                      <input type="file" id="upload" style="display: none;" class="form-control mt-2">
                  </label>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12 p-0 m-2">
                <div class="form-group ms-0">
                    <label class="Poppins-14">Document6</label>
                    <div class="uploadDiv mt-2 ">
                        <label for="upload">
                      <span area-hidden="true"><img src="../assets/icon_Upload.svg" alt=""></span>

                      <input type="file" id="upload" style="display: none;" class="form-control mt-2">
                  </label>
                    </div>
                </div>
            </div>

        </div> -->
  </div>
</div>

<!-- Modal -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->

<!-- Modal -->

<button data-bs-toggle="modal"
data-bs-target="#exampleModal" style="display:none;"  #modelButton>

</button>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{
            selectedDocument.name.length ? selectedDocument.name : "No Document"
          }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div
          *ngIf="selectedDocument.base64.length == 0"
          class="w-100 h-100 d-flex justify-content-center align-items-center"
        >
          No Document Selected
        </div>
        <img
          *ngIf="
            selectedDocument.type == 'image/jpeg' ||
            selectedDocument.type == 'image/png'
          "
          [src]="selectedDocument.base64"
          class="w-100 h-100 overflow-auto"
        />
        <!-- <pdf-viewer
          [src]="selectedDocument.base64"
          [render-text]="true"
          [original-size]="true"
          [fit-to-page]="true"
          style="width: 100%; height: 100%;"
        ></pdf-viewer> -->
        <!-- <object [data]='selectedDocument.base64' width="300" height="200"></object> -->
        <!-- <ngx-extended-pdf-viewer *ngIf="selectedDocument.type == 'application/pdf' " [base64Src]="selectedDocument.base64" [useBrowserLocale]="false"></ngx-extended-pdf-viewer> -->
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary btn-sm"
          style="background-color: white !important; color: black !important"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
