.poppins-18 {
    font-size: 18px;
}

.poppins-14 {
    font-size: 14px;
}

.poppins-12 {
    font-size: 12px;
}

.poppins-16 {
    font-size: 16px;
}

.poppins-28 {
    font-size: 28px;
}

.fw-600 {
    font-weight: 600;
}

.fw-normal {
    font-weight: normal;
}

.bg-blue-light {
    background: #edf5ff;
}

.h-55 {
    height: 55px;
}

.h-45 {
    height: 45px;
}

.h-92 {
    height: 92px;
}

.display {
    display: flex;
    justify-content: end;
}

.linkcolor {
    font-size: 14px;
    color: #808080;
}

.btn {
    border-radius: 4px;
    background-color: #0277ee;
    color: #ffff;
    width: 100px;
    height: 32px;
}

.fw-normal {
    font-weight: normal;
}

.Poppins-12 {
    font-size: 12px;
}

.Rectangle-2207 {
    background-color: #edf5ff;
    border-radius: 4px;
}

.Rectangle-2211 {
    background-color: #edf5ff;
    border-radius: 4px;
    margin-top: 30px;
    max-height: 92px;
    padding: 30px 0px 30px 30px;
}

input::placeholder {
    font-size: 14px;
    height: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #2d3748;
}

img {
    height: 20px;
    width: 20px;
}

.margin-30 {
    margin-left: 30px;
}

.documentImg {
    position: absolute;
    left: 10px;
    bottom: 8px;
    z-index: 2;
}

.removeImg {
    position: absolute;
    right: 0;
    top: 9px;
    margin-right: 5px;
}

.iconImgPosition {
    position: relative;
}

.uploadDiv {
    height: 38px;
    border-radius: 4px;
    border: 1px solid #dad7d7;
    margin-top: 15px;
}

label {
    display: flex;
    margin-top: 6px;
    margin-left: 10px;
}

.pl-25{
    padding-left: 2.5rem;
}

.cursor-pointer{
    cursor: pointer;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.margin-top-5{
    margin-top: 5px;
}