.bg-sidebar {
    background-color: #EDF5FF;
}

.main-container {
    font-family: '';
}

.bg-sidebar li {
    font-size: 14px;
    font-weight: 600;
}

.active {
    color: #0277EE;
    background: #FFFFFF;
}

.poppins-12 {
    font-size: 12px;
}

.poppins-18 {
    font-size: 18px;
}

.poppins-14 {
    font-size: 14px;
}

.fw-600 {
    font-weight: 600;
}

a:active {
    color: #0277EE;
    background: #FFFFFF;
}

// <----------------round checkobox-------------------->
.round {
    position: relative;
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked+label {
    background-color: #0277EE;
    border-color: #0277EE;
}

.round input[type="checkbox"]:checked+label:after {
    opacity: 1;
}

a {
    text-decoration: none;
    ;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.border-3px {
    border: 3px solid red;
}


.active{
    .round label {
        background-color: #fff;
        border: 1px dashed #0277EE;
        border-radius: 50%;
        cursor: pointer;
        height: 28px;
        left: 0;
        position: absolute;
        top: 0;
        width: 28px;
    }
    .round label:after {
        border: 2px solid red;
        border-top: none;
        border-right: none;

    }
}