<div class="row m-0 p-0">
  <app-navbar></app-navbar>
  <div class="row m-0 p-0">
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-3 d-md-block bg-sidebar border-1 sidebar collapse shadow-right position-fixed"
      style="height: 100vh"
    >
      <div class="position-sticky pt-3">
        <div class="text-justify m-3">
          <h3 class="poppins-18 fw-600">Steps</h3>
        </div>
        <ul class="nav flex-column">
          <li
            class="nav-item m-2 d-flex align-items-center"
            [ngClass]="{
              active: tabService.currentTabIndex == 0,
              disabled: tabService.currentTabIndex > 0
            }"
          >
            <div class="round mx-3">
              <input
                type="checkbox"
                id="business-objecive"
                [checked]="tabService.currentTabIndex > 0"
                [disabled]="true"
                readonly
              />
              <label for="business-objecive"></label>
            </div>

            <a class="nav-link text-dark poppins-14 fw-600" aria-current="page">
              Business objective & Activities
            </a>
          </li>
          <li
            class="nav-item m-2 d-flex align-items-center"
            [ngClass]="{
              active: tabService.currentTabIndex == 1,
              disabled: tabService.currentTabIndex > 1
            }"
          >
            <div class="round mx-3 " >
              <input
                type="checkbox"
                id="facilities-required"
                [checked]="tabService.currentTabIndex > 1"
                [disabled]="true"
                readonly
              />
              <label for="facilities-required"></label>
            </div>
            <a class="nav-link text-dark poppins-14 fw-600" aria-current="page">
              Facilities required
            </a>
          </li>
          <li
            class="nav-item m-2 d-flex align-items-center"
            [ngClass]="{
              active: tabService.currentTabIndex == 2,
              disabled: tabService.currentTabIndex > 2
            }"
          >
            <div class="round mx-3">
              <input
                type="checkbox"
                id="investor-information"
                [checked]="tabService.currentTabIndex > 2"
                [disabled]="true"
                readonly
              />
              <label for="investor-information"></label>
            </div>

            <a class="nav-link text-dark poppins-14 fw-600" aria-current="page">
              Investors information
            </a>
          </li>
          <li
            class="nav-item m-2 d-flex align-items-center"
            [ngClass]="{
              active: tabService.currentTabIndex == 3,
              disabled: tabService.currentTabIndex > 3
            }"
          >
            <div class="round mx-3">
              <input
                type="checkbox"
                id="business-name"
                [checked]="tabService.currentTabIndex > 3"
                [disabled]="true"
                readonly
              />
              <label for="business-name"></label>
            </div>

            <a class="nav-link text-dark poppins-14 fw-600" aria-current="page">
              Business name
            </a>
          </li>
          <li
            class="nav-item m-2 d-flex align-items-center"
            [ngClass]="{
              active: tabService.currentTabIndex == 4,
              disabled: tabService.currentTabIndex > 4
            }"
          >
            <div class="round mx-3">
              <input
                type="checkbox"
                id="required-document"
                [checked]="tabService.currentTabIndex > 4"
                [disabled]="true"
                readonly
              />
              <label for="required-document"></label>
            </div>
            <a class="nav-link text-dark poppins-14 fw-600" aria-current="page">
              Required Documents
            </a>
          </li>
          <li
            class="nav-item m-2 d-flex align-items-center"
            [ngClass]="{
              active: tabService.currentTabIndex == 5,
              disabled: tabService.currentTabIndex > 5
            }"
          >
            <div class="round mx-3">
              <input
                type="checkbox"
                id="summary&payment"
                [checked]="tabService.currentTabIndex > 5"
                [disabled]="true"
                readonly
              />
              <label for="summary&payment"></label>
            </div>

            <a class="nav-link text-dark poppins-14 fw-600" aria-current="page">
              Summary & Payment
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-9">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
