.poppins-18 {
    font-size: 18px;
}

.poppins-14 {
    font-size: 14px;
}

.poppins-12 {
    font-size: 12px;
}

.poppins-16 {
    font-size: 16px;
}

.fw-600 {
    font-weight: 600;
}

.fw-normal {
    font-weight: normal;
}

.h-62 {
    height: 62px;
}

.fw-400 {
    font-weight: 400;
}

.icon {
    width: 24px;
    height: 24px;
}

.text-blue {
    color: #0277EE;
}

.card-shadow {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(2, 119, 238, 0.22);
    border-radius: 4px;
}

.bg-blue {
    background: #EDF5FF;
    ;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}