<div class="container">
  <div class="row p-2">
    <div class="justify-content-between row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h4 class="poppins-18 fw-600 mb-3">Business objective & Activities</h4>
      </div>
      <div *ngIf="isStep == 2" Class="col-lg-6 col-md-6 col-sm-12">
        <div class="d-flex justify-content-end">
          <button
            class="btn btn-primary poppins-12 fw-600 ms-3"
            (click)="save()"
            [disabled]="buttonDisable"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
    <form>
      <div *ngIf="isStep == 1">
        <h4 class="poppins-16 fw-600 ms-0">
          Identify the Nature of Your Business Activity
          <span class="text-blue ms-2"> {{ selectedValue }}</span>
        </h4>
        <div class="row">
          <div
            class="col-lg-3 col-md-6 col-sm-12 card m-2"
            *ngFor="let item of businessActivityCategoryList"
          >
            <div
              class="d-flex align-items-center"
              (click)="
                getBusinessCategoryByCategoryName(item.activityCategoryName)
              "
            >
              <div class="icon">
                <img
                  src="../../../../assets/{{ item.activityCategoryName }}.svg"
                  alt=""
                />
              </div>
              <p class="ms-4 mt-3 poppins-14 fw-600">
                {{ item.activityCategoryName }}
              </p>
            </div>
          </div>
          <!-- <div class="col-lg-3 col-md-6 col-sm-12 card m-2 ">
                        <div class=" d-flex" (click)="getValue('Tourism')">
                            <div class="icon">
                                <img src="/assets/plane.svg" alt="" class="mt-2">
                            </div>
                            <p class="ms-4 mt-3 poppins-14 fw-600">Tourism</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 card m-2">
                        <div class=" d-flex " (click)="getValue('Industrial')">
                            <div class="icon  ">
                                <img src="/assets/Industry.svg" alt="" class="mt-2">
                            </div>
                            <p class="ms-4 mt-3 poppins-14 fw-600">Industrial</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 card m-2">
                        <div class=" d-flex " (click)="getValue('Commercial')">
                            <div class="icon  ">
                                <img src="/assets/Commercial.svg" alt="" class="mt-2">
                            </div>
                            <p class="ms-4 mt-3 poppins-14 fw-600">Commercial</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 card m-2">
                        <div class=" d-flex ">
                            <div class="icon  " (click)="getValue('Agricultural')">
                                <img src="/assets/agriculture.svg" alt="" class="mt-2">
                            </div>
                            <p class="ms-4 mt-3 poppins-14 fw-600">Agricultural</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 card m-2">
                        <div class=" d-flex ">
                            <div class="icon  " (click)="getValue('Professional')">
                                <img src="/assets/Professional.svg" alt="" class="mt-2">
                            </div>
                            <p class="ms-4 mt-3 poppins-14 fw-600">Professional</p>
                        </div>
                    </div> -->
        </div>
      </div>
      <div *ngIf="isStep == 2" class="mt-3">
        <div class="row">
          <div class="h-62 bg-blue p-4 ms-2">
            <h4 class="poppins-16 fw-600">
              Identify the Nature of Your Business Activity
              <span class="text-blue ms-2"> {{ selectedValue }}</span>
              <button style="border: none" (click)="navigate()">
                <i class="fa fa-edit ms-3"></i>Edit
              </button>
            </h4>
          </div>
          <h4 class="poppins-16 fw-600 mt-4 mb-3">
            Select Your Business Activity
          </h4>
          <div class="form-check mb-3">
            <input (change)="handleSelectAll($event)" name="businessActivitySelectAll" [(ngModel)]="selectAllModel"  type="checkbox" value="" id="flexCheckDefault">
            <label class="ms-3" for="flexCheckDefault">
             Select All
            </label>
          </div>
          <div
            class="col-lg-4 col-md-6 col-sm-12 mb-3"
            *ngFor="let iteam of businessCategory; index as i"
          >
            <div class="card p-2 card-shadow">
              <div class="form-group poppins-18 fw-600">
                <input
                  type="checkbox"
                  name="{{ 'business-activity' +  i }}"
                  title="{{ iteam.title }}"
                  [(ngModel)]="formValues[i]"
                  (change)="onCheckboxChange(iteam._id, $event)"
                />

                <label for="" class="label ms-2 poppins-14"
                  >{{ iteam.activityNameEN }}
                </label>
              </div>
              <ul class="poppins-12 fw-400">
                <li>
                  {{ iteam.activityDescEN }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
