.poppins-18 {
  font-size: 18px;
}

.poppins-14 {
  font-size: 14px;
}

.poppins-12 {
  font-size: 12px;
}

.fw-600 {
  font-weight: 600;
}

.fw-400 {
  font-weight: 400;
}

.icon {
  width: 24px;
  height: 24px;
}

.text-blue {
  color: #0277EE;
}

.card-shadow {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px rgba(2, 119, 238, 0.22);
          box-shadow: 0px 0px 10px rgba(2, 119, 238, 0.22);
  border-radius: 4px;
}

.bg-blue {
  background: #EDF5FF;
}
/*# sourceMappingURL=business-objective.component.css.map */