<div class="container-fluid p-0 m-0">
    <div class="row">
        <div class="row  container-1 align-items-center col-lg-7 col-md-7 col-sm-12 p-4 ">
            <h4 class="poppins-24 fw-bold">
                Contact Us
            </h4>
            <img src="/assets/contact-us/Group 41172.webp" alt="">
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 row ">
            <div class="help-card p-4 ">
                <h4 class="poppins-18 fw-600 text-justify">
                    Not sure where to start? We are there for you
                </h4>
                <p class="poppins-12 fw-normal text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type</p>
                <div>
                    <button class="btn btn-primary  poppins-12 fw-600"> Get Started</button>
                </div>
            </div>
            <div class="mt-3">
                <form action="">
                    <div class="row">
                        <h4 class="poppins-18 fw-600 px-4">
                            Want to send us your query, we are happy to help you.
                        </h4>
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <div class="form-group ms-sm-4">
                                <label for="" class="poppins-14 fw-normal label-color mb-2 ">
                   Name
                 </label>
                                <input type="text" name="" formControlName="name" class="form-control" placeholder="John Due">
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12 ">
                            <div class="form-group ms-4 ">
                                <label for="" class="poppins-14 fw-normal label-color mb-2 ">
                   Email
                 </label>
                                <input type="email" name="" formControlName="email" class="form-control" placeholder="John@example.com">
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-`10 col-sm-10">
                            <div class="form-group ms-4 mt-3">
                                <label for="" class="poppins-14 fw-normal label-color mb-2 ">
                            Describe your issue
                 </label>
                                <input type="text" name="" formControlName="describe" class="form-control" placeholder="my name is john due">
                            </div>
                        </div>
                        <button class="btn btn-primary ms-4 btn-width mt-3  poppins-12 fw-600"> Submit</button>


                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
