.container-1 {
    background-image: radial-gradient(circle at 50% 50%, #029aee, #024eee 98%);
    color: #fff;
}

.row {
    --bs-gutter-x: 0;
}

.poppins-24 {
    font-size: 24px;
}

.poppins-18 {
    font-size: 18px;
}

.poppins-14 {
    font-size: 14px;
}

.poppins-12 {
    font-size: 12px;
}

.fw-bold {
    font-weight: bold;
}

.fw-600 {
    font-weight: 600;
}

.fw-normal {
    font-weight: normal;
}

.help-card {
    background: #edf5ff;
}

.label-color {
    color: #4a5568;
}

.btn-width {
    width: 100px;
}

input,
input::-webkit-input-placeholder {
    font-size: 14px;
    // line-height: 3;
}
