// templates
.poppins-18 {
    font-size: 18px;
}

.poppins-14 {
    font-size: 14px;
}

.poppins-12 {
    font-size: 12px;
}

.poppins-16 {
    font-size: 16px;
}

.poppins-28 {
    font-size: 28px;
}

.fw-600 {
    font-weight: 600;
}

.fw-normal {
    font-weight: normal;
}

.bg-blue-light {
    background: #edf5ff;
}

.h-55 {
    height: 55px;
}

.h-45 {
    height: 45px;
}

.text-disabled{
    color:rgba(155, 155, 155, 0.95);
}

// te4mplate
.chose-emirate {
    height: 92px;
}

.location-checkbox {
    width: 15px;
    height: 15px;
    flex-grow: 0;
    margin: 7px 15px 7px 0;
    border-radius: 2px;
    border: solid 2px #000;
}

.bg-blue {
    background: #EDF5FF;
    ;
}

.bg-blue-btn {
    background: #EDF5FF;
}

.text-blue {
    color: #0277EE;
}

.mr-0 {
    margin-right: 0px;
}

.pr-0 {
    padding-right: 0px;
}

.h-62 {
    height: 62px;
}

.card-shadow {
    box-shadow: 0 0 10px 0 rgba(2, 119, 238, 0.22);
}

.table-row-shadow {
    box-shadow: 0 0 12px 0 rgba(155, 155, 155, 0.25);
}

.radio-btn {
    width: 14px;
    height: 14px;
    flex-grow: 0;
    border: solid 2px #464646;
}

.table-row {
    td {
        border: 0px;
    }
}

input,
input::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: normal;
    // line-height: 3;
}

.text-muted-1 {
    color: #4a5568;
}
.margin{
    margin-left: -15px;
}
.marginHeading{
    margin-left: -6px;

}
.openCompnay{
    margin-left: -10px;
}

.border-right {
    // border-right: 1px solid grey;
    border-right: 1px solid rgb(196, 190, 190);
    ;
}

.square-foot{
    bottom: -9px;
    right: 30px;
    opacity: 0.6;
}

.fw-500{
    font-weight: 500;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.searchBar{
    margin-top: -41px;
}

.searchBar .form-input{
    border:2px solid grey;
}