<div class="row p-3 m-2 ms-0">
  <div class="justify-content-between row p-2 pt-0">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <h4 class="poppins-18 fw-600 mb-3 mt-0 pt-0">Facilities required</h4>
    </div>
    <div Class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-end">
      <button
        class="btn btn-primary poppins-12 fw-600 ms-3 mb-2"
        (click)="step1()"
        *ngIf="isStep == 1"
        [disabled]="!selectedEmirates.length"
      >
        Submit
      </button>
    
      <button
        class="btn btn-primary poppins-12 fw-600 ms-3 mb-2"
        (click)="step2()"
        *ngIf="isStep == 2"
        [disabled]="selectedZoneType.disabled"
      >
        Submit
      </button>
      <button
        class="btn btn-primary poppins-12 fw-600 ms-3 mb-2"
        (click)="step3()"
        *ngIf="isStep == 3"
      >
        Submit
      </button>
      <button
        class="btn btn-primary poppins-12 fw-600 ms-3 mb-2"
        (click)="step4()"
        *ngIf="isStep == 4"
      >
        Submit
      </button>
      <button
        class="btn btn-primary poppins-12 fw-600 ms-3 mb-2"
        (click)="step5()"
        [disabled]="this.isValidSpaceAreaSubmitButton"
        *ngIf="isStep == 5"
      >
        Submit
      </button>
      <button
        class="btn btn-primary poppins-12 fw-600 ms-3 mb-2"
        (click)="step6()"
        *ngIf="isStep == 6"
      >
        Submit
      </button>
      <button
        class="btn btn-primary poppins-12 fw-600 ms-3 mb-2"
        (click)="step7()"
        *ngIf="isStep == 7"
      >
        Submit
      </button>
    </div>
  </div>

  <form>
    <div class="row mt-2" *ngIf="isStep == 1">
      <form [formGroup]="selectEmirate">
        <div class="bg-blue-light d-flex align-items-center ps-3 mb-2 h-62">
          <h5 class="poppins-16 fw-600">Please choose your Emirate(s)</h5>
        </div>
        <div class="form-group ms-2">
          <input
            type="checkbox"
            [(ngModel)]="emirateSelectedAll"
            (change)="handleSelectAllEmirateChange($event)"
            name="emirateSelectedAll"
            class="location-checkbox"
            [ngModelOptions]="{ standalone: true }"
          />
          <label for="emirateSelectedAll" class="poppins-14 fw-600 mb-1">
            Select All Emirate
          </label>
        </div>
        <div class="form-group ms-2" *ngFor="let city of cityList">
          <input
            type="checkbox"
            value="{{ city.CityName }}"
            name="{{ city.CityName }}"
            [checked]="checkSelectedEmirate(city.CityName)"
            (change)="onCheckboxChange($event)"
            class="location-checkbox"
          />
          <label for="{{ city.CityName }}" class="poppins-14 fw-600 mb-1">
            {{ city.CityName }}
          </label>
        </div>
        <small
          class="error"
          *ngIf="this.selectEmirate.controls['checkArray'].errors?.['required']"
          style="color: red"
        >
          Checkbox is required, select atleast one value.
        </small>
      </form>

      <!-- <div class="form-group ms-2">
                <input type="checkbox" name="Location" id="" class="location-checkbox " formControlName="Delhi">
                <label for="" class="poppins-14 fw-600 mb-1">
              Emirates
            </label>
            </div>
            <div class="form-group ms-2">
                <input type="checkbox" name="Location" id="" class="location-checkbox " formControlName="Delhi">
                <label for="" class="poppins-14 fw-600 mb-1">
              Emirates
            </label>
            </div>
            <div class="form-group ms-2">
                <input type="checkbox" name="Location" id="" class="location-checkbox " formControlName="Delhi">
                <label for="" class="poppins-14 fw-600 mb-1">
              Emirates
            </label>
            </div>
            <div class="form-group ms-2">
                <input type="checkbox" name="Location" id="" class="location-checkbox " formControlName="Delhi">
                <label for="" class="poppins-14 fw-600 mb-1">
              Emirates
            </label>
            </div>
            <div class="form-group ms-2">
                <input type="checkbox" name="Location" id="" class="location-checkbox " formControlName="Delhi">
                <label for="" class="poppins-14 fw-600 mb-1">
              Emirates
            </label>
            </div>
            <div class="form-group ms-2">
                <input type="checkbox" name="Location" id="" class="location-checkbox " formControlName="Delhi">
                <label for="" class="poppins-14 fw-600 mb-1">

            </label>
            </div> -->
    </div>

    <div class="mt-3">
      <div class="row mr-0 pr-0">
        <div *ngIf="isStep == 2">
          <form [formGroup]="SelectLocationType">
            <div
              class="bg-blue-light h-62 d-flex align-items-center ps-3 col-lg-8 col-md-10 col-sm-12 openCompnay"
            >
              <h4 class="poppins-16 fw-600 mt-3 bg-blue-light mb-3">
                Please choose your Emirate(s)

                <span
                  class="text-blue ms-2 poppins-16"
                  *ngFor="let check of selectedEmirates; index as i"
                  >{{ check }}{{ selectedEmirates.length -1 === i ? '' : ","}}</span
                >
                <span class="p-0 ms-3">
                  <button style="border: none" (click)="navigate()">
                    <img src="../assets/edit.svg" alt="" class="" /> Edit
                  </button></span
                >
              </h4>
            </div>

            <div
              class="bg-blue-light h-62 d-flex align-items-center ps-3 mt-4 openCompnay"
            >
              <h5 class="poppins-16 fw-600">
                Where do you want to open your company?
              </h5>
            </div>
<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-10 mt-4">
    <div class="card card-shadow">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="form-group ms-2">
            <input
              type="checkbox"
              name="selectAllMainLandFreeZone"
              (change)="handleSelectAllMainLandFreeZoneChange($event)"
              [(ngModel)]="freeZoneMainLandSelectedAll"
              [ngModelOptions]="{ standalone: true }"
              class="location-checkbox"
            />
            <label
              for="selectAllMainLandFreeZone"
              class="poppins-14 fw-600 mb-1"
            >
              Select All
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
            <div
              class="row mt-4"
              *ngFor="let item of companyArea; let i = index"
            >
              <div class="col-lg-3 col-md-4 col-sm-10">
                <div class="card card-shadow">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div class="form-group ms-2">
                        <input
                          type="checkbox"
                          name="{{ item.name }}"
                          (change)="onChangeSpaceType($event)"
                          [value]="item.value"
                          [checked]="selectedZoneType[item.name.toLowerCase()]"
                          class="location-checkbox"
                        />
                        <label
                          for="{{ item.name }}"
                          class="poppins-14 fw-600 mb-1"
                        >
                          {{ item.name }}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div *ngIf="isStep == 3 && locationType?.value == 'Mainland'">
          <form [formGroup]="SelectZoneType">
            <div class="row mt-4 mr-0">
              <div
                class="bg-blue-light h-62 d-flex align-items-center ps-3 ms-2 col-lg-8 col-md-10 col-sm-12"
              >
                <h4 class="poppins-16 fw-600 mt-3 bg-blue-light mb-3">
                  Please choose your Emirate(s)
                  <span
                    class="text-blue ms-2 poppins-16"
                    *ngFor="let check of checkAllArrayValues"
                    >{{ check }}</span
                  >
                  <span (click)="navigate()">
                    <span class="p-0 ms-3">
                      <!-- {{checkAllArrayValues}} -->
                      <img src="../assets/edit.svg" alt="" class="" /> Edit
                    </span></span
                  >
                </h4>
              </div>
              <div
                class="bg-blue-light h-62 d-flex align-items-center ps-3 ms-2 mt-4 col-lg-6 col-md-8 col-sm-12"
              >
                <h5 class="poppins-16 fw-600">
                  Company location
                  <span class="p-0 ms-3">
                    <span class="text-blue ms-2 poppins-16"
                      >{{ selectedZoneType.freezone ? "Freezone" : "" }}
                      {{ selectedZoneType.mainland ? "MainLand" : "" }}</span
                    >
                    <span class="p-0 ms-3 poppins-16"></span>
                    <button style="border: none" (click)="navigate()">
                      <img src="../assets/edit.svg" alt="" class="" /> Edit
                    </button></span
                  >
                </h5>
              </div>
              <div
                class="bg-blue-light h-62 d-flex align-items-center ps-3 ms-2 mt-4 mr-0"
              >
                <h5 class="poppins-16 fw-600">Please select your location</h5>
              </div>
              <div class="table-responsive mt-4">
                <table class="table">
                  <thead
                    class="border-0 poppins-14 fw-600 text-muted border-bottom-0"
                  >
                    <th class="" *ngFor="let value of checkAllArrayValues">
                      {{ value }}
                    </th>
                  </thead>
                  <tbody class="border-0">
                    <tr class="table-row">
                      <td class="" *ngFor="let emirate of checkAllArrayValues">
                        <!-- {{ checkAllArrayValues | json }} -->
                        <div
                          *ngFor="
                            let location of getLocationListByEmirate(emirate)
                          "
                          class="form-group d-flex align-items-center"
                        >
                          <input
                            type="checkbox"
                            name="{{ location.locationName }}"
                            value="{{ location.locationName }}"
                            [checked]="isLocationChecked(location.locationName)"
                            (change)="onLocationCheckboxChange($event)"
                            class="location-checkbox"
                            id="{{ location + 'emirate' }}"
                          />

                          <label
                            for="{{ location + 'emirate' }}"
                            class="poppins-14 fw-600 mb-1"
                          >
                            {{ location.locationName }}
                          </label>
                        </div>
                      </td>

                      <td>
                        <!-- <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 2" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div> -->
                      </td>
                      <!--<td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 3" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 4" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 5" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 6" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 7" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td> -->
                    </tr>
                    <!-- <tr></tr>
                    <tr class="table-row">
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 1" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 2" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 3" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 4" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 5" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 6" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 7" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                    </tr>
                    <tr class="table-row">
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 1" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 2" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 3" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 4" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 5" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 6" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 7" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                    </tr>
                    <tr class="table-row">
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 1" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 2" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 3" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 4" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 5" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 6" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 7" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                    </tr>
                    <tr class="table-row">
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 1" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 2" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 3" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 4" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 5" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 6" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 7" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                    </tr> -->
                  </tbody>
                </table>
              </div>
            </div>
          </form>
        </div>

        <div *ngIf="isStep == 3 && locationType?.value == 'Freezone'">
          <form [formGroup]="SelectZoneType">
            <div class="row mt-4 mr-0">
              <div
                class="bg-blue-light h-62 d-flex align-items-center ps-3 ms-2 col-lg-8 col-md-10 col-sm-12"
              >
                <h4 class="poppins-16 fw-600 mt-3 bg-blue-light mb-3">
                  Please choose your Emirate(s)
                  <span
                    class="text-blue ms-2 poppins-16"
                    *ngFor="let check of checkAllArrayValues"
                    >{{ check }}</span
                  >
                  <span (click)="navigate()">
                    <span class="p-0 ms-3">
                      <!-- {{checkAllArrayValues}} -->
                      <img src="../assets/edit.svg" alt="" class="" /> Edit
                    </span></span
                  >
                </h4>
              </div>
              <div
                class="bg-blue-light h-62 d-flex align-items-center ps-3 ms-2 mt-4 col-lg-6 col-md-8 col-sm-12"
              >
                <h5 class="poppins-16 fw-600">
                  Company location
                  <span class="p-0 ms-3">
                    <span class="text-blue ms-2 poppins-16"
                      >{{ selectedZoneType.freezone ? "Freezone" : "" }}
                      {{ selectedZoneType.mainland ? "MainLand" : "" }}
                    </span>
                    <span class="p-0 ms-3 poppins-16"></span>
                    <button style="border: none" (click)="navigate()">
                      <img src="../assets/edit.svg" alt="" class="" /> Edit
                    </button></span
                  >
                </h5>
              </div>
              <div
                class="bg-blue-light h-62 d-flex align-items-center ps-3 ms-2 mt-4 mr-0"
              >
                <h5 class="poppins-16 fw-600">Please select your zone</h5>
              </div>
              <div class="table-responsive mt-4">
                <table class="table">
                  <thead
                    class="border-0 poppins-14 fw-600 text-muted border-bottom-0"
                  >
                    <th class="" *ngFor="let value of checkAllArrayValues">
                      {{ value | titlecase }}
                    </th>
                  </thead>
                  <tbody class="border-0">
                    <tr class="table-row">
                      <td class="" *ngFor="let emirate of selectedEmirates">
                        <!-- {{ checkAllArrayValues | json }} -->
                        <div
                          class="form-group d-flex align-items-center"
                        >
                          <input
                            type="checkbox"
                            name="allLocationOrZone"
                            value="allLocationOrZone"
                            class="location-checkbox"
                            [(ngModel)]="allLocationOrZoneSelected[emirate]"
                            [ngModelOptions]="{ standalone: true }"
                            (change)="handleSelectAllZoneOrLocation($event, emirate)"
                          />
                          <label
                            for="allLocationOrZone"
                            class="poppins-14 fw-600 mb-1"
                          >
                            Select All
                          </label>
                        </div>
                        <div
                          *ngFor="
                            let zone of getZoneListByEmirate(emirate);
                            index as zoneIndex
                          "
                          class="form-group d-flex align-items-center"
                        >
                          <input
                            type="checkbox"
                            name="{{ zone.ZoneName }}"
                            value="{{ zone.ZoneName }}"
                            class="location-checkbox"
                            [checked]="selectedEmirateZones[zone.ZoneName]"
                            (change)="handleEmirateZoneChange($event, emirate)"
                          />
                          <label
                            for="{{ zone.ZoneName + 'emirate' }}"
                            class="poppins-14 fw-600 mb-1"
                          >
                            {{ zone.ZoneName }}
                          </label>
                        </div>
                      </td>

                      <td>
                        <!-- <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 2" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div> -->
                      </td>
                      <!--<td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 3" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 4" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 5" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 6" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 7" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td> -->
                    </tr>
                    <!-- <tr></tr>
                    <tr class="table-row">
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 1" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 2" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 3" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 4" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 5" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 6" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 7" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                    </tr>
                    <tr class="table-row">
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 1" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 2" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 3" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 4" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 5" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 6" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 7" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                    </tr>
                    <tr class="table-row">
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 1" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 2" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 3" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 4" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 5" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 6" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 7" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                    </tr>
                    <tr class="table-row">
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 1" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 2" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 3" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 4" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 5" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 6" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                      <td>
                        <div class="form-group d-flex align-items-center">
                          <input type="radio" formControlName="zone" class="radio-btn" value="location 7" />
                          <label for="" class="poppins-14 fw-600 ms-2">
                            Location</label>
                        </div>
                      </td>
                    </tr> -->
                  </tbody>
                </table>
              </div>
            </div>
          </form>
        </div>

        <div class="row mt-4" *ngIf="isStep == 4">
          <form [formGroup]="SelectSpaceype">
            <div
              class="bg-blue-light h-62 d-flex align-items-center ps-3 col-lg-8 col-md-10 col-sm-12"
            >
              <h4 class="poppins-16 fw-600 mt-3 bg-blue-light mb-3">
                Please choose your Emirate(s)
                <span
                  class="text-blue ms-2"
                  *ngFor="let emirate of checkAllArrayValues"
                  >{{ emirate }}
                </span>
                <span class="p-0 ms-3">
                  <button style="border: none" (click)="navigate()">
                    <img src="../assets/edit.svg" alt="" class="" /> Edit
                  </button></span
                >
              </h4>
            </div>
            <div class="row">
              <div
                class="bg-blue-light h-62 d-flex align-items-center ps-3 ms-2 mt-4 col-lg-6 col-md-8 col-sm-12"
              >
                <h5 class="poppins-16 fw-600">
                  Company location
                  <span class="p-0 ms-3">
                    <span class="text-blue ms-2 poppins-16"
                      >{{ selectedZoneType.freezone ? "Freezone" : "" }}
                      {{ selectedZoneType.mainland ? "MainLand" : "" }}</span
                    >
                    <span class="p-0 ms-3 poppins-16"></span>
                    <button style="border: none" (click)="navigate()">
                      <img src="../assets/edit.svg" alt="" class="" /> Edit
                    </button></span
                  >
                </h5>
              </div>
            </div>
            <div class="row">
              <div
                class="bg-blue-light h-62 d-flex align-items-center ps-3 ms-2 mt-4 col-lg-4 col-lg-6 col-md-8 col-sm-12"
              >
                <!-- *ngIf="locationType?.value == 'Freezone'" -->
                <h5 class="poppins-16 fw-600">
                  {{ locationType?.value == "Freezone" ? "Zone" : "Location" }}
                  <span class="p-0 ms-3">
                    <span class="text-blue ms-2">{{
                      selectedEmirateZonesArray.toString()
                    }}</span>
                    <span class="p-0 ms-3"></span>
                    <button style="border: none" (click)="navigate()">
                      <img src="../assets/edit.svg" alt="" class="" /> Edit
                    </button></span
                  >
                </h5>
              </div>
            </div>
            <div
              class="bg-blue-light h-62 d-flex align-items-center ps-3 mt-4 marginHeading"
            >
              <h5 class="poppins-16 fw-600">Please select your facility type.</h5>
            </div>
            <div
              class="row mt-4"
            >
              <div class="col-lg-3 col-md-4 col-sm-10">
                <div class="card card-shadow">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div class="form-group ms-2">
                        <input
                          type="checkbox"
                          name="selectAllPlotWarehouseOffice"
                          [(ngModel)]="selectAllPlotWarehouseOffice"
                          (change)="handleSelectAllPlotOfficeWarehouse($event)"
                          [ngModelOptions]="{ standalone: true }"
                          class="location-checkbox"
                        />
                        <label
                          for="selectAllPlotWarehouseOffice"
                          class="poppins-14 fw-600 mb-1"
                        >
                          Select All
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="row mt-4"
              *ngFor="let spaceType of facilityTypeList; let i = index"
            >
              <div class="col-lg-3 col-md-4 col-sm-10">
                <div class="card card-shadow">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div class="form-group ms-2">
                        <input
                          type="checkbox"
                          name="{{ spaceType.name }}"
                          [value]="spaceType.value"
                          [checked]="findSpaceType(spaceType.name)"
                          (change)="
                            handleSpaceTypeValueChange(
                              $event,
                              i,
                              spaceType.name
                            )
                          "
                          class="location-checkbox"
                        />
                        <label
                          for="{{ spaceType.name }}"
                          class="poppins-14 fw-600 mb-1"
                        >
                          {{ spaceType.name | titlecase }}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="row mt-4">
                            <div class="col-lg-3 col-md-4 col-sm-10">
                                <div class="card card-shadow">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div class="form-group d-flex align-items-center">
                                                <input type="checkbox" formConrtolName="spaceType" value="office">
                                                <label for="" class="ms-2 poppins-14 fw-600">
                                              office
                                </label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-lg-3 col-md-4 col-sm-10">
                                <div class="card card-shadow">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div class="form-group d-flex align-items-center">
                                                <input type="checkbox" name="space type">
                                                <label for="" class="ms-2 poppins-14 fw-600">
                                              Plot
                                </label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
          </form>
        </div>
        <div>
          <div class="row mt-4" *ngIf="isStep == 5">
            <div
              class="bg-blue-light h-62 d-flex align-items-center ps-3 ms-2 col-lg-8 col-md-10 col-sm-12"
            >
              <h4 class="poppins-16 fw-600 mt-3 bg-blue-light mb-3">
                Please choose your Emirate(s)
                <span
                  class="text-blue ms-2"
                  *ngFor="let emirate of checkAllArrayValues"
                  >{{ emirate }}
                </span>
                <span class="p-0 ms-3">
                  <button style="border: none" (click)="navigate()">
                    <img src="../assets/edit.svg" alt="" class="" /> Edit
                  </button></span
                >
              </h4>
            </div>
            <div
              class="bg-blue-light h-62 d-flex align-items-center ps-3 ms-2 mt-4 col-lg-6 col-md-8 col-sm-12"
            >
              <h5 class="poppins-16 fw-600">
                Company location
                <span class="p-0 ms-3">
                  <span class="text-blue ms-2 poppins-16">{{
                    locationType?.value
                  }}</span>
                  <span class="p-0 ms-3 poppins-16"></span>
                  <button style="border: none" (click)="navigate()">
                    <img src="../assets/edit.svg" alt="" class="" /> Edit
                  </button></span
                >
              </h5>
            </div>
            <div class="row" *ngIf="locationType?.value == 'Freezone'">
              <div
                class="bg-blue-light h-62 d-flex align-items-center ps-3 ms-2 mt-4 col-lg-6 col-md-8 sol-sm-12"
              >
                <h5 class="poppins-16 fw-600">
                  Zone
                  <span class="p-0 ms-3">
                    <span class="text-blue ms-2"
                      >{{ selectedEmirateZonesArray.toString() }}
                    </span>
                    <span class="p-0 ms-3"></span>
                    <button style="border: none" (click)="navigate()">
                      <img src="../assets/edit.svg" alt="" class="" /> Edit
                    </button></span
                  >
                </h5>
              </div>
            </div>
            <div class="row" *ngIf="locationType?.value == 'Mainland'">
              <div
                class="bg-blue-light h-62 d-flex align-items-center ps-3 ms-2 mt-4 col-lg-6 col-md-8 sol-sm-12"
              >
                <h5 class="poppins-16 fw-600">
                  Location
                  <span class="p-0 ms-3">
                    <span class="text-blue ms-2"
                      >{{ checkAllLocationValues }}
                    </span>
                    <span class="p-0 ms-3"></span>
                    <button style="border: none" (click)="navigate()">
                      <img src="../assets/edit.svg" alt="" class="" /> Edit
                    </button></span
                  >
                </h5>
              </div>
            </div>
            <div class="row">
              <div
                class="bg-blue-light h-62 d-flex align-items-center ps-3 ms-2 mt-4 col-lg-6 col-md-8 sol-sm-12"
              >
                <h5 class="poppins-16 fw-600">
                  Space Type
                  <span class="p-0 ms-3">
                    <span
                      class="text-blue ms-2"
                      *ngFor="let spaceType of getSpaceTypeValues()"
                    >
                      {{ spaceType | titlecase }}
                    </span>
                    <span class="p-0 ms-3"></span>
                    <button style="border: none" (click)="navigate()">
                      <img src="../assets/edit.svg" alt="" class="" /> Edit
                    </button></span
                  >
                </h5>
              </div>
            </div>
            <div
              class="bg-blue-light h-62 d-flex align-items-center ps-3 ms-2 mt-4"
            >
              <h5 class="poppins-16 fw-600">Please enter your space area</h5>
            </div>
            <form [formGroup]="SelectSpaceArea" class="row">
              <div
                class="col-lg-5 col-md-5 col-sm-12 mt-4"
                *ngIf="findIndexSpaceType('Office') !== -1"
              >
                <div class="form- position-relative">
                  <label
                    for="space-type-office"
                    class="poppins-14 fw-500 text-muted-1 mb-2"
                    >Office</label
                  >
                  <input
                    type="number"
                    name="space-type-offer"
                    id="space-type-offer"
                    placeholder="Please enter space are for Office"
                    class="form-control"
                    formControlName="spaceTypeForOffice"
                    (blur)="isSpaceAreaAdded()"
                  />
                  <p class="position-absolute square-foot">sq. foot</p>
                </div>
              </div>

              <div
                class="col-lg-5 col-md-5 col-sm-12 mt-4"
                *ngIf="findIndexSpaceType('Warehouse') !== -1"
              >
                <div class="form-group position-relative">
                  <label
                    for="space-type-warehouse"
                    class="poppins-14 fw-500 text-muted-1 mb-2"
                    >Warehouse</label
                  >
                  <input
                    type="number"
                    name="space-type-warehouse"
                    id="space-type-warehouse"
                    placeholder="Please enter space area for Warehouse"
                    class="form-control"
                    formControlName="spaceTypeForWarehouse"
                    (blur)="isSpaceAreaAdded()"
                  />
                  <p class="position-absolute square-foot">sq. foot</p>
                </div>
              </div>
              <div
                class="col-lg-5 col-md-5 col-sm-12 mt-4"
                *ngIf="findIndexSpaceType('Plot') !== -1"
              >
                <div class="form-group position-relative">
                  <label
                    for="space-type-plot"
                    class="poppins-14 fw-500 text-muted-1 mb-2"
                    >Plot</label
                  >
                  <input
                    type="number"
                    id="space-type-plot"
                    name="space-type-plot"
                    placeholder="Please enter space area for Plot"
                    class="form-control"
                    formControlName="spaceTypeForPlot"
                    (blur)="isSpaceAreaAdded()"
                  />
                  <p class="position-absolute square-foot">sq. foot</p>
                </div>
              </div>
            </form>
          </div>
        </div>
        <form [formGroup]="selectNoEmployee">
          <div class="row mt-4" *ngIf="isStep == 6">
            <div
              class="bg-blue-light h-62 d-flex align-items-center ps-3 ms-2 col-lg-8 col-md-10 col-sm-12"
            >
              <h4 class="poppins-16 fw-600 mt-3 bg-blue-light mb-3">
                Please choose your Emirate(s)
                <span
                  class="text-blue ms-2"
                  *ngFor="let emirate of checkAllArrayValues"
                  >{{ emirate }}
                </span>
                <span class="p-0 ms-3">
                  <button style="border: none" (click)="navigate()">
                    <img src="../assets/edit.svg" alt="" class="" /> Edit
                  </button></span
                >
              </h4>
            </div>
            <div
              class="bg-blue-light h-62 d-flex align-items-center ps-3 ms-2 mt-4 col-lg-10 col-md-8 col-sm-12"
            >
              <h5 class="poppins-16 fw-600">
                Company location
                <span class="p-0 ms-3">
                  <span class="text-blue ms-2 poppins-16"
                    >{{ selectedZoneType.freezone ? "Freezone" : "" }}
                    {{ selectedZoneType.mainland ? "MainLand" : "" }}</span
                  >
                  <span class="p-0 ms-3 poppins-16"></span>
                  <button style="border: none" (click)="navigate()">
                    <img src="../assets/edit.svg" alt="" class="" /> Edit
                  </button></span
                >
              </h5>
            </div>
            <div class="row" *ngIf="locationType?.value == 'Freezone'">
              <div
                class="bg-blue-light h-62 d-flex align-items-center ps-3 ms-2 mt-4 col-lg-10 col-md-8 sol-sm-12"
              >
                <h5 class="poppins-16 fw-600">
                  Zone
                  <span class="p-0 ms-3">
                    <!-- <span
                      class=" text-blue ms-2">{{zone?.value}} </span> -->
                    <span class="text-blue ms-2"
                      >{{ selectedEmirateZonesArray }}
                    </span>
                    <span class="p-0 ms-3"></span>
                    <button style="border: none" (click)="navigate()">
                      <img src="../assets/edit.svg" alt="" class="" /> Edit
                    </button>
                  </span>
                </h5>
              </div>
            </div>
            <div class="row">
              <div
                class="bg-blue-light h-62 d-flex align-items-center ps-3 ms-2 mt-4 col-lg-6 col-md-8 sol-sm-12"
              >
                <h5 class="poppins-16 fw-600">
                  Space type
                  <span class="p-0 ms-3">
                    <span
                      class="text-blue ms-2"
                      *ngFor="let spaceType of getSpaceTypeValues()"
                    >
                      {{ spaceType }}
                    </span>
                    <span class="p-0 ms-3"></span>
                    <button style="border: none" (click)="navigate()">
                      <img src="../assets/edit.svg" alt="" class="" /> Edit
                    </button></span
                  >
                </h5>
              </div>
            </div>
            <div class="row">
              <div
                class="bg-blue-light h-62 d-flex align-items-center ps-3 ms-2 mt-4 col-lg-7 col-md-8 sol-sm-12"
              >
                <h5 class="poppins-16 fw-600">
                  Space area
                  <span class="text-blue ms-2"
                    >{{
                      spaceTypeForOffice?.value &&
                        spaceTypeForOffice?.value + "sq foot, "
                    }}

                    {{
                      spaceTypeForWarehouse?.value &&
                        spaceTypeForWarehouse?.value + "sq foot, "
                    }}
                    {{
                      spaceTypeForPlot?.value &&
                        spaceTypeForPlot?.value + "sq foot"
                    }}
                  </span>
                  <span class="p-0 ms-3" (click)="edit(5)">
                    <button (click)="navigate()" style="border: none">
                      <img src="../assets/edit.svg" alt="" class="" /> Edit
                    </button></span
                  >
                </h5>
              </div>
            </div>

            <div
              class="bg-blue-light h-62 d-flex align-items-center ps-3 ms-2 mt-4"
            >
              <h5 class="poppins-16 fw-600">
                Enter the number of employees in your company
              </h5>
            </div>
            <div class="row">
              <div class="col-lg-5 col-md-6 col-sm-12 mt-4">
                <div class="form-group">
                  <label class="poppins-14 fw-500 text-muted-1 mb-2"
                    >No. Of Employee</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    placeholder="Eg.10"
                    formControlName="noOfEmployee"
                  />
                </div>
              </div>

              <!-- <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
              <div class="form-group">
                <label for="" class="poppins-14 fw-500 text-muted-1">
                  Visa Required</label
                >
                <select
                  name="visa required"
                  class="form-control form-select mt-2"
                  formControlName="visaRequired"
                >
                  <option value="yes" selected>Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div> -->
              <div class="col-lg-5 col-md-4 col-sm-6 mt-4">
                <div class="form-group">
                  <label for="" class="poppins-14 fw-500 text-muted-1">
                    Number of Visa’s Required</label
                  >
                  <input
                    type="number"
                    class="form-control mt-2"
                    placeholder="Eg.10"
                    formControlName="noOfVisa"
                    (change)="handleVisaChange($event)"
                  />
                </div>
              </div>
            </div>
          </div>
        </form>

        <div class="row" *ngIf="isStep == 7">
          <div
          class="bg-blue-light h-62 d-flex align-items-center ps-3 ms-2 col-lg-8 col-md-10 col-sm-12"
        >
          <h4 class="poppins-16 fw-600 mt-3 bg-blue-light mb-3">
            Please choose your Emirate(s)
            <span
              class="text-blue ms-2"
              *ngFor="let emirate of checkAllArrayValues"
              >{{ emirate }}
            </span>
            <span class="p-0 ms-3">
              <button style="border: none" (click)="navigate()">
                <img src="../assets/edit.svg" alt="" class="" /> Edit
              </button></span
            >
          </h4>
        </div>
        <div
          class="bg-blue-light h-62 d-flex align-items-center ps-3 ms-2 mt-4 col-lg-10 col-md-8 col-sm-12"
        >
          <h5 class="poppins-16 fw-600">
            Company location
            <span class="p-0 ms-3">
              <span class="text-blue ms-2 poppins-16"
                >{{ selectedZoneType.freezone ? "Freezone" : "" }}
                {{ selectedZoneType.mainland ? "MainLand" : "" }}</span
              >
              <span class="p-0 ms-3 poppins-16"></span>
              <button style="border: none" (click)="navigate()">
                <img src="../assets/edit.svg" alt="" class="" /> Edit
              </button></span
            >
          </h5>
        </div>
        <div class="row" *ngIf="locationType?.value == 'Freezone'">
          <div
            class="bg-blue-light h-62 d-flex align-items-center ps-3 ms-2 mt-4 col-lg-10 col-md-8 sol-sm-12"
          >
            <h5 class="poppins-16 fw-600">
              Zone
              <span class="p-0 ms-3">
                <!-- <span
                  class=" text-blue ms-2">{{zone?.value}} </span> -->
                <span class="text-blue ms-2"
                  >{{ selectedEmirateZonesArray }}
                </span>
                <span class="p-0 ms-3"></span>
                <button style="border: none" (click)="navigate()">
                  <img src="../assets/edit.svg" alt="" class="" /> Edit
                </button>
              </span>
            </h5>
          </div>
        </div>
        <div class="row">
          <div
            class="bg-blue-light h-62 d-flex align-items-center ps-3 ms-2 mt-4 col-lg-6 col-md-8 sol-sm-12"
          >
            <h5 class="poppins-16 fw-600">
              Space type
              <span class="p-0 ms-3">
                <span
                  class="text-blue ms-2"
                  *ngFor="let spaceType of getSpaceTypeValues()"
                >
                  {{ spaceType }}
                </span>
                <span class="p-0 ms-3"></span>
                <button style="border: none" (click)="navigate()">
                  <img src="../assets/edit.svg" alt="" class="" /> Edit
                </button></span
              >
            </h5>
          </div>
        </div>
        <div class="row">
          <div
            class="bg-blue-light h-62 d-flex align-items-center ps-3 ms-2 mt-4 col-lg-7 col-md-8 sol-sm-12"
          >
            <h5 class="poppins-16 fw-600">
              Space area
              <span class="text-blue ms-2"
                >{{
                  spaceTypeForOffice?.value &&
                    spaceTypeForOffice?.value + "sq foot, "
                }}

                {{
                  spaceTypeForWarehouse?.value &&
                    spaceTypeForWarehouse?.value + "sq foot, "
                }}
                {{
                  spaceTypeForPlot?.value &&
                    spaceTypeForPlot?.value + "sq foot"
                }}
              </span>
              <span class="p-0 ms-3" (click)="edit(5)">
                <button (click)="navigate()" style="border: none">
                  <img src="../assets/edit.svg" alt="" class="" /> Edit
                </button></span
              >
            </h5>
          </div>
        </div>
        
         
          <!-- <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </nav> -->
          <div
            class="bg-blue-light h-62 d-flex align-items-center ps-3 ms-2 mt-4 col-lg-8 col-md-8 sol-sm-8"
          >
            <h5 class="poppins-14 fw-600">
              Number of employees
              <span class="text-blue ms-2">{{ noOfEmployee?.value }}</span>
              Number of Visa Required 
              <span class="text-blue ms-2">{{ noOfVisa?.value }}</span>
            </h5>
            <span class="p-0 ms-3" (click)="edit(5)">
              <button (click)="navigate()" style="border: none">
                <img src="../assets/edit.svg" alt="" class="" /> Edit
              </button></span
            >
          </div>

          <div
          class="bg-blue-light h-55 d-flex align-items-center ps-3 ms-2 mt-4 col-6"
        >
          <h5 class="poppins-14 fw-normal">
            Please select any option from the list to view more details
          </h5>
        </div>

          <div class="justify-content-end d-flex searchBar ps-3 ms-2">
            <input
              type="search"
              class="form-control ps-2 w-25"
              (keydown)="handleSearchText($event)"
              (change)="handleSearchText($event)"
              (blur)="handleSearchText($event)"
              (search)="handleSearchText($event)"
              (focus)="handleSearchText($event)"
              name="searchText"
              [(ngModel)]="searchText"
              placeholder="Search"
            />
            <!-- <button class="btn btn-primary ms-2">Search</button> -->
          </div>
          <div class="table-responsive mt-4">
            <table class="table border-0">
              <thead class="bg-blue-light border-0">
                <tr>
                  <th class="">
                    <div
                      class="d-flex align-items-center justify-content-center m-2"
                    >
                      <input
                        type="checkbox"
                        name="mainCheckbox"
                        [(ngModel)]="tableCheckboxes.main"
                        (change)="handleMainCheckboxChange($event)"
                      />
                    </div>
                  </th>

                  <th class=" ">
                    <div class="d-flex align-items-center border-right m-2">
                      <p class="mb-0 poppins-14 fw-600">Emirates</p>
                      <img src="../assets/sort.svg" alt="" />
                    </div>
                  </th>
                  <th class=" ">
                    <div class="d-flex align-items-center border-right m-2">
                      <p class="mb-0 poppins-14 fw-600">Space Type</p>
                      <img src="../assets/sort.svg" alt="" />
                    </div>
                  </th>
                  <!-- <th class="">
                    <div
                      class="d-flex align-items-center justify-content-center border-right m-2"
                    >
                      <p class="mb-0 poppins-14 fw-600">Office Type</p>
                      <img src="../assets/sort.svg" alt="" />
                    </div>
                  </th> -->
                  <th class="">
                    <div
                      class="d-flex align-items-center justify-content-center border-right m-2"
                    >
                      <p class="mb-0 poppins-14 fw-600">{{ "Place" }}</p>
                      <img src="../assets/sort.svg" alt="" />
                    </div>
                  </th>
                  <th class="">
                    <div
                      class="d-flex align-items-center justify-content-center border-right m-2"
                    >
                      <p class="mb-0 poppins-14 fw-600">Facility Type</p>
                      <img src="../assets/sort.svg" alt="" />
                    </div>
                  </th>
                  <th class="">
                    <div
                      class="d-flex align-items-center justify-content-center border-right m-2"
                    >
                      <p class="mb-0 poppins-14 fw-600">Size (sq foot)</p>
                      <img src="../assets/sort.svg" alt="" />
                    </div>
                  </th>
                  <th class="">
                    <div
                      class="d-flex align-items-center justify-content-center m-2"
                    >
                      <p class="mb-0 poppins-14 fw-600">Cost (AED)</p>
                      <img src="../assets/sort.svg" alt="" />
                    </div>
                  </th>
                </tr>
              </thead>

              <tbody
                class="table-row-shadow mt-4 border-0"
                *ngFor="let item of filteredTableData; index as i"
              >
                <!-- (click)="showDiv(item._id)" -->
                <tr
                  class="mt-2 border-0"
                  [ngClass]="item.isDisabled ? 'disabled' : ''"
                  (click)="toggleDetail(i)"
                >
                  <td>
                    <div class="d-flex align-items-center px-3 poppins-14 h-45">
                      <input
                        type="checkbox"
                        name="{{ 'childCheckbox' + i }}"
                        (change)="handleTableCheckboxChange($event, i)"
                        [disabled]="item.isDisabled"
                        [(ngModel)]="tableCheckboxes.children[i]"
                      />
                    </div>
                  </td>
                  <td>
                    <div
                      class="d-flex align-items-center px-3 poppins-14 h-45"
                      [ngClass]="item.isDisabled ? 'text-disabled' : ''"
                    >
                      {{ item.emirate }}
                    </div>
                  </td>
                  <td>
                    <div
                      class="d-flex align-items-center px-3 poppins-14 h-45"
                      [ngClass]="item.isDisabled ? 'text-disabled' : ''"
                    >
                      {{ item.officeType }}
                    </div>
                  </td>
                  <!-- <td>
                    <div
                      class="d-flex align-items-center border-right ps-3 poppins-14 h-45"
                    >
                      {{ item.officeType }}
                    </div>
                  </td> -->
                  <td>
                    <div
                      class="d-flex align-items-center px-3 poppins-14 h-45"
                      [ngClass]="item.isDisabled ? 'text-disabled' : ''"
                    >
                      {{ item.zoneType | titlecase }}
                    </div>
                  </td>
                  <td>
                    <div
                      class="d-flex align-items-center px-3 poppins-14 h-45"
                      [ngClass]="item.isDisabled ? 'text-disabled' : ''"
                    >
                      {{ item.spaceType | titlecase }}
                    </div>
                  </td>
                  <td>
                    <div
                      class="d-flex align-items-center px-3 poppins-14 h-45"
                      [ngClass]="item.isDisabled ? 'text-disabled' : ''"
                    >
                      {{ item.size }}
                    </div>
                  </td>
                  <td>
                    <div
                      class="d-flex align-items-center ps-3 poppins-14 h-45"
                      [ngClass]="item.isDisabled ? 'text-disabled' : ''"
                    >
                      {{ item.cost }}
                    </div>
                  </td>
                </tr>
                <tr *ngIf="showDetails[i]">
                  <td>
                    <input type="checkbox" style="visibility: hidden" />
                  </td>
                  <td>
                    <div
                      class="d-flex align-items-center ps-3 poppins-14 h-45"
                      [ngClass]="item.isDisabled ? 'text-disabled' : ''"
                    >
                      Number Of Employee: {{ item.noOfEmployee }}
                    </div>
                  </td>
                  <td>
                    <div
                      class="d-flex align-items-center ps-3 poppins-14 h-45"
                      [ngClass]="item.isDisabled ? 'text-disabled' : ''"
                    >
                      Number Of Visa: {{ item.noOfVisa }}
                    </div>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <!-- <tr *ngIf="show==item._id" class="border-0">
                  <td colspan="2" class="border-0">
                    <div>
                      <p class="fw-bold">Description</p>
                      <p>
                        {{item.description1}}
                      </p>
                    </div>
                  </td>
                  <td colspan="2 " class="border-0">
                    <div>
                      <p class="fw-bold">Description</p>
                      <p>
                        {{item.description2}}
                      </p>
                    </div>
                  </td>
                  <td class="d-flex align-items-center">
                    <div class="border-0">
                      <button class="btn btn-primary bg-primary  poppins-14" (click)="save()">
                        select
                      </button>
                    </div>
                  </td>



                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
