<div class="container m-0 p-0">
    <div class="row p-5 pt-0">
        <div class=" justify-content-between row ps-0 ">
            <div class="col-lg-6 col-md-6 col-sm-12 p-0">
                <h4 class="poppins-18 fw-600 mb-3">Business name</h4>
            </div>
            <div Class="col-lg-6 col-md-6 col-sm-12">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary poppins-12 fw-600 ms-3" (click)="save()" [disabled]="validateName() || businessNameForm.invalid"> Submit</button>
                </div>
            </div>
        </div>

        <div class="row ps-0 ">
            <div class="col-lg-12 bg-blue-light pt-2   mt-2   ">
                <p class="poppins-14 fw-normal">This particular clause states the proposed name of the company. Naming policies businesses in UAE are to abide include:</p>
                <ul class="poppins-14">
                    <li>The business name must be unique or not identical or similar to the name or brand of an existing company;
                    </li>
                    <li> It shouldn’t mention any affiliation to a particular religion or political organization; </li>
                    <li>It shouldn’t allude to a new company doing business of existing companies; </li>
                    <li>The name of the business shouldn’t use indecent or obscene words</li>
                </ul>
            </div>
        </div>

        <div class="row bg-blue-light  mt-4 ">
            <div class="col-lg-12 h-92 d-flex align-items-center ">
                <p class="Poppins-16 fw-600 mb-0"> Please enter 3 names for you company based on your Preferences</p>
            </div>

        </div>
        <p *ngIf="validateName()" class="text-danger mt-3 mb-0 py-0 ms-0 ps-0">Duplicate Name</p>
        <form [formGroup]="businessNameForm">
            <div class="row p-0 mt-2 ">
                <div class="col-lg-4 col-md-6 col-sm-12 p-0">
                    <div class="form-group">
                        <label class="Poppins-14 text-muted-1">Preference 1</label>
                        <input (change)="storeData()" type="text" placeholder="Enter name" class="form-control  mt-2" formControlName="Preference1">
                    </div>
                </div>

            </div>
            <div class="row p-0 mt-3 ">
                <div class=" col-lg-4 col-md-6 col-sm-12 p-0">

                    <div class="form-group">
                        <label class="Poppins-14 text-muted-1">Preference 2</label>
                        <input (change)="storeData()" type="text" placeholder="Enter name" class="form-control  mt-2" formControlName="Preference2" >
                    </div>

                </div>
            </div>

            <div class="row p-0 mt-3 ">
                <div class=" col-lg-4 col-md-6 col-sm-12 p-0">

                    <div class="form-group">
                        <label class="Poppins-14 text-muted-1">Preference 3</label>
                        <input (change)="storeData()" type="text" placeholder="Enter name" class="form-control  mt-2" formControlName="Preference3">
                    </div>
                </div>
            </div>
        </form>
    </div>


</div>
