.poppins-18 {
    font-size: 18px;
}

.poppins-14 {
    font-size: 14px;
}

.poppins-12 {
    font-size: 12px;
}

.poppins-16 {
    font-size: 16px;
}

.poppins-28 {
    font-size: 28px;
}

.fw-600 {
    font-weight: 600;
}

.fw-normal {
    font-weight: normal;
}

.bg-blue-light {
    background: #edf5ff;
}

.h-55 {
    height: 55px;
}

.h-45 {
    height: 45px;
}

.h-92 {
    height: 92px;
}

// te4mplate
.display {
    display: flex;
    justify-content: end;
}

.linkcolor {
    font-size: 14px;
    color: #808080;
}

.fw-normal {
    font-weight: normal;
}

.Rectangle-2207 {
    background-color: #edf5ff;
    border-radius: 4px;
}

.bg-blue-light {
    background-color: #edf5ff;
}

input::placeholder {
    font-size: 14px;
    height: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #2d3748;
}

.btn {
    border-radius: 4px;
    background-color: #0277ee;
    color: #ffff;
    width: 100px;
    height: 32px;
}

.text-muted-1 {
    color: #4a5568;
}

input,
input::-webkit-input-placeholder {
    font-size: 14px;
    color: #4a5568;
    font-weight: normal;
    // line-height: 3;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}