.poppins-32 {
    font-size: 32px;
}

.poppins-18 {
    font-size: 18px;
}

.poppins-24 {
    font-size: 24px;
}

.fw-bold {
    font-weight: bold;
}

.poppins-12 {
    font-size: 12px;
}

.fw-600 {
    font-weight: 600;
}

.container-1 {
    background-image: radial-gradient(circle at 50% 50%, #029aee, #024eee 98%);
    color: #fff;
}

.business-hisory {
    .poppins-24 {
        font-size: 24px;
        font-family: Poppins;
    }
    .company-logo {
        width: 22.3px;
        height: 34.9px;
        background-color: #e30a17;
    }
}

.our-team {
    background: #edf5ff;
}

.our-team {
    .card-bg-none {
        background: none;
    }
    .card-image {
        width: 228px;
        height: 267.7px;
        flex-grow: 0;
        margin: 0 0 15.3px;
        border-radius: 4px;
    }
}

.conpany-logo {
    width: 24px;
    height: 24px;
    align-self: center;
    flex-grow: 0;
    margin: 0px 15px 0 0;
    object-fit: contain;
    mix-blend-mode: luminosity;
    filter: grayscale(100%)
}

.row {
    --bs-gutter-x: 0;
}
