<div class="container-fluid p-0">
    <div class="row p-0 m-0">
        <div class="row container-1 align-items-center  ">
            <div class="col-lg-6 col-md-6 col-sm-12 ">
                <div class="ms-5 mt-4 mb-2">
                    <h4 class="poppins-32 fw-bold">
                        About us
                    </h4>
                </div>
                <div class="ms-5 mt-4">
                    <p class="poppins-18">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </p>
                </div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-end ">
                <img src="/assets\/about-us/g10.svg" alt="" class="mt-4 mx-5">
            </div>
        </div>
        <div class="business-history mb-4 mt-4 p-4">
            <div class="row ">
                <h4 class="poppins-24 text-center mb-4 mt-4">
                    Business which we have helped
                </h4>
                <div class="d-flex justify-content-center  ">
                    <div class="row w-50 justify-content-center ">
                        <div class="col-md-1 ">
                            <img src="/assets/home/company-logo/mercedes.svg" alt="" class="m-2 company-logo">
                        </div>
                        <div class="col-md-1 col-sm-2">
                            <img src="/assets/home/company-logo/sketch.svg" alt="" class="m-2 company-logo">
                        </div>
                        <div class="col-md-1 col-sm-2">

                            <img src="/assets/home/company-logo/microsoft.svg" alt="" class="m-2 company-logo">
                        </div>
                        <div class="col-md-1 col-sm-2">
                            <img src="/assets/home/company-logo/bmw.svg" alt="" class="m-2 company-logo">
                        </div>

                        <div class="col-md-1 col-sm-2">
                            <img src="/assets/home/company-logo/spotify.svg" alt="" class="m-2 company-logo">
                        </div>

                        <div class="col-md-1 col-sm-2">
                            <img src="/assets/home/company-logo/Facebook.svg" alt="" class="m-2 company-logo">
                        </div>

                        <div class="col-md-1 col-sm-2">
                            <img src="/assets/home/company-logo/netflix.svg" alt="" class="m-2 company-logo">
                        </div>
                        <div class="col-md-1 col-sm-2">

                            <img src="/assets/home/company-logo/slack.svg" alt="" class="m-2 company-logo">
                        </div>
                        <div class="col-md-1 col-sm-2">
                            <img src="/assets/home/company-logo/figma.svg" alt="" class="m-2 company-logo">
                        </div>

                        <div class="col-md-1 col-sm-2">
                            <img src="/assets/home/company-logo/google.svg" alt="" class="m-2 company-logo">
                        </div>
                        <div class="col-md-1 col-sm-2">
                            <img src="/assets/home/company-logo/mercedes.svg" alt="" class="m-2 company-logo">
                        </div>

                        <div class="col-md-1 col-sm-2">
                            <img src="/assets/home/company-logo/sketch.svg" alt="" class="m-2 company-logo">
                        </div>

                        <div class="col-md-1 col-sm-2">
                            <img src="/assets/home/company-logo/microsoft.svg" alt="" class="m-2 company-logo">
                        </div>

                        <div class="col-md-1 col-sm-2">
                            <img src="/assets/home/company-logo/bmw.svg" alt="" class="m-2 company-logo">
                        </div>
                        <div class="col-md-1 col-sm-2">
                            <img src="/assets/home/company-logo/google.svg" alt="" class="m-2 company-logo">
                        </div>
                        <div class="col-md-1 col-sm-2">
                            <img src="/assets/home/company-logo/mercedes.svg" alt="" class="m-2 company-logo">
                        </div>

                        <div class="col-md-1 col-sm-2">
                            <img src="/assets/home/company-logo/sketch.svg" alt="" class="m-2 company-logo">
                        </div>


                    </div>

                </div>
            </div>
        </div>
        <div class="our-team">
            <div class="row justify-content-center mt-5 mb-5">
                <h4 class="poppins-24 fw-600 m-3 text-center">
                    Meet Our Team
                </h4>
                <div class="col-lg-10 col-md-12 col-sm-10 row">
                    <div class="col-lg-3 col-md-4 col-sm-12 d-flex justify-content-center">
                        <div class="card card-bg-none border-0 ">
                            <div class="card-body">
                                <img src="/assets/home/tushar.jpg" alt="" class="card-image">
                                <p class="poppins-18 fw-600 mb-0">
                                    Rakesh Jain
                                </p>
                                <p class="poppins-12 fw-600 mt-1">
                                    CEO
                                </p>
                                <div class="d-flex">
                                    <img src="/assets/about-us/Facebook.svg" alt="" class="conpany-logo ">
                                    <img src="/assets/about-us/twitter.svg" alt="" class="conpany-logo">
                                    <img src="/assets/about-us/linkedin.svg" alt="" class="conpany-logo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12 d-flex justify-content-center">
                        <div class="card card-bg-none border-0">
                            <div class="card-body">
                                <img src="/assets/home/tushar.jpg" alt="" class="card-image">
                                <p class="poppins-18 fw-600 mb-0">
                                    Rakesh Jain
                                </p>
                                <p class="poppins-12 fw-600 mt-1">
                                    CEO
                                </p>
                                <div class="d-flex">
                                    <img src="/assets/about-us/Facebook.svg" alt="" class="conpany-logo ">
                                    <img src="/assets/about-us/twitter.svg" alt="" class="conpany-logo">
                                    <img src="/assets/about-us/linkedin.svg" alt="" class="conpany-logo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12 d-flex justify-content-center">
                        <div class="card card-bg-none border-0">
                            <div class="card-body">
                                <img src="/assets/home/tushar.jpg" alt="" class="card-image">
                                <p class="poppins-18 fw-600 mb-0">
                                    Rakesh Jain
                                </p>
                                <p class="poppins-12 fw-600 mt-1">
                                    CEO
                                </p>
                                <div class="d-flex">
                                    <img src="/assets/about-us/Facebook.svg" alt="" class="conpany-logo ">
                                    <img src="/assets/about-us/twitter.svg" alt="" class="conpany-logo">
                                    <img src="/assets/about-us/linkedin.svg" alt="" class="conpany-logo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12 d-flex justify-content-center">
                        <div class="card card-bg-none border-0">
                            <div class="card-body">
                                <img src="/assets/home/tushar.jpg" alt="" class="card-image">
                                <p class="poppins-18 fw-600 mb-0">
                                    Rakesh Jain
                                </p>
                                <p class="poppins-12 fw-600 mt-1">
                                    CEO
                                </p>
                                <div class="d-flex">
                                    <img src="/assets/about-us/Facebook.svg" alt="" class="conpany-logo ">
                                    <img src="/assets/about-us/twitter.svg" alt="" class="conpany-logo">
                                    <img src="/assets/about-us/linkedin.svg" alt="" class="conpany-logo">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
