<nav class="navbar navbar-dark bg-light justify-content-between  ">
    <a class=" navbar-brand ">
        <img src="assets/evernote.svg " alt=" " class="ms-4 ">
    </a>
    <div class="nav-item ">
        <ul class="d-flex justify-content-between flex-row ">
            <li class="mx-3 mt-2 ">
                <a routerLink="home "> Home</a>

            </li>
            <li class="mx-3 mt-2 ">
                <a routerLink="about-us "> About us</a>

            </li>
            <li class="mx-3 mt-2 ">
                <a routerLink="contact-us "> Contact us</a>

            </li>
        </ul>
    </div>
</nav>
