.nav-item {
    ul {
        list-style: none;
    }
    a {
        color: #000;
        text-decoration: none;
        font-size: 14px;
        font-weight: normal;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
