<div class="container">
  <div class="row">
    <div class="justify-content-between row pt-0 ps-0 mt-3">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h4 class="poppins-18 fw-600 mb-3 mt-0 pt-0 ms-2">
          Investors information
        </h4>
      </div>
      <div Class="col-lg-5 col-md-6 col-sm-12  d-flex justify-content-end">
        <!-- <button class="btn btn-primary poppins-12 fw-600 ms-3 mb-2" (click)="save()"> Submit</button> -->
        <button class="btn btn-primary poppins-12 fw-600 ms-3 mb-2" (click)="step1()" *ngIf="isStep == 1" [disabled]="
            calculatePercentage('equityPercent') !== 100 ||

            calculatePercentage('profitPercent') !== 100 
          ">
          Submit
        </button>
        <button class="btn btn-primary poppins-12 fw-600 ms-3 mb-2" (click)="step2()" *ngIf="isStep == 2"
          [disabled]="!this.partnershipType">
          Submit
        </button>
        <button class="btn btn-primary poppins-12 fw-600 ms-3 mb-2" (click)="save()" *ngIf="isStep == 3">
          Next
        </button>
      </div>
    </div>
    <div *ngIf="isStep == 1">
      <div class="bg-blue-light d-flex align-items-center h-92 mt-4">
        <h5 class="poppins-16 fw-600">
          Please enter your company’s equity bifurcation
        </h5>
      </div>
      <!-- [formGroup]="investerStepOneForm" (submit)="submitInvesterStepOneForm()" -->
      <div >
        <div class="table-responsive p-0">
          <table class="table p-0 border-0">
            <thead class="text-muted-1 poppins-14 fw-normal">
              <th class="border-bnottom-0">
                <div class="d-flex align-items-center ps-0">
                  Name of the investor
                </div>
              </th>
              <th>
                <div class="d-flex align-items-center ps-0">
                  Equity Percentage
                </div>
              </th>
              <th>
                <div class="d-flex align-items-center  ps-0">Nationality</div>
              </th>
              <th>
                <div class="d-flex align-items-center ps-0">
                  Amount
                </div>
              </th>
              <th>
                <div class="d-flex align-items-center ps-0">
                  Profit percentage
                </div>
              </th>
              <th>
                <div class="d-flex align-items-center ps-0">Visa Required</div>
              </th>
            </thead>
            <tbody class="border-0">
              <tr *ngFor="
                  let item of investorForm;
                  index as i
                ">
                <td class="px-0 border-0">
                  <div class="form-group mr-4">
                    <input (change)="storeData()" type="text" class="form-control mt-2 mb-2" placeholder="Name" name="{{ i + 'name' }}" [(ngModel)]="investorForm[i]['name']" />
                  </div>
                </td>
                <td class="px-0 border-0">
                  <div class="form-group mr-4 position-relative">
                    <input type="number" class="form-control mt-2 mb-2" name="{{ i + 'equityPercentage' }}" [(ngModel)]="investorForm[i]['equityPercent']" (change)="storeData()" />
                    <p class="position-absolute percentage">%</p>
                  </div>
                  <p *ngIf="
                  calculatePercentage('equityPercent') !== 100
                    " class="text-danger text-small mb-0 pb-0">
                    Sum of Equity Percentage is not 100.
                  </p>
                </td>
                <td class="px-0 border-0">
                  <div class="mr-2 px-1">
                    <select class="form-select mt-2" aria-label="Default select example" name="{{ i + 'nationality' }}" [(ngModel)]="investorForm[i]['nationality']" (change)="storeData()">
                      <option selected> Nationality </option>
                      <option value="India">India</option>
                      <option value="UAE">UAE</option>
                    </select>
                  </div>
                </td>
                <td class="px-0 border-0">
                  <div class="mr-2 px-1">
                    <input type="number" class="form-control mt-2 mb-2" placeholder="Amount" [(ngModel)]="investorForm[i]['amount']" name="{{ i + 'amount'}}" (change)="storeData()" />
                  </div>
                </td>
                <td class="px-0 border-0">
                  <div class="form-group  mr-4 position-relative">
                    <input type="number" class="form-control mt-2 mb-2" [(ngModel)]="investorForm[i]['profitPercent']" name="{{ i + 'profitPercent' }}" (change)="storeData()" />
                    <p class="position-absolute percentage">%</p>
                  </div>
                  <p *ngIf="
                  calculatePercentage('profitPercent') !== 100
                    " class="text-danger text-small mb-0 pb-0">
                    Sum of Profit Percentage is not 100.
                  </p>
                </td>
                <td class="px-0 border-0">
                  <div class="text-justify ps-0 mt-2">
                    <label class="switch">
                      <input type="checkbox" (change)="storeData()" [(ngModel)]="investorForm[i]['visa']" name="{{ i + 'visaRequired' }}" />
                      <span class="slider round"></span>
                    </label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <button (click)="addAditionalDetails()" class="btn btn-primary">
        Add
      </button>
    </div>
    <div *ngIf="isStep == 2" class="mt-4 ms-0 ps-0">
      <div class="bg-blue-light company-type d-flex align-items-center ps-3 ms-2 col-lg-8 col-md-10 col-sm-12">
        <h4 class="poppins-18 fw-600 mt-3 bg-blue-light mb-3">
          Please enter your company’s equity bifurcation
          <span class="p-0 ms-3" (click)="this.isStep = 1">
            <img src="../assets/edit.svg" alt="" class="" /> Edit</span>
        </h4>
      </div>
      <div class="bg-blue-light d-flex align-items-center h-92 mt-4 ms-2 ps-3">
        <h5 class="poppins-16 fw-600">Please select Partnership type</h5>
      </div>
      <div>
        <div *ngFor="let partnership of partnershipList" class="row mt-0">
          <div class="col-lg-3 col-md-4 col-sm-10">
            <div class="card border-0">
              <div class="card-body border-0">
                <div class="d-flex">
                  <div class="form-group">
                    <input type="radio" [value]="partnership.partnershipName" class="radio-btn"
                      [(ngModel)]="partnershipType" (change)="handlePartnerTypeChange($event)" />
                    <label for="" class="mx-2 poppins-14 fw-600">
                      {{ partnership.partnershipName }}
                    </label>
                  </div>
                  <div>
                    <img src="../assets/info.svg" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isStep == 3" class="ms-0 ps-0">
      <div class="row mt-4 ps-0 m-0">
        <div class="col-12">
          <div class="table-responsive mt-4">
            <table class="table border-0">
              <thead class="bg-blue-light border-0">
                <tr>

                  <th class=" ">
                    <div class="border-right m-2">
                      <p class="mb-0 poppins-14 fw-600">Name</p>
                    </div>
                  </th>
                  <th class=" ">
                    <div class=" border-right m-2">
                      <p class="mb-0 poppins-14 fw-600">Nationality</p>
                    </div>
                  </th>
                  <th class="">
                    <div class="border-right m-2">
                      <p class="mb-0 poppins-14 fw-600">Equity Percentage</p>
                    </div>
                  </th>
                  <th class="">
                    <div class="border-right m-2">
                      <p class="mb-0 poppins-14 fw-600">Profit Percentage</p>
                    </div>
                  </th>
                  <th class="">
                    <div class=" border-right m-2">
                      <p class="mb-0 poppins-14 fw-600">Amount</p>
                    </div>
                  </th>
                  <th class="">
                    <div class="m-2">
                      <p class="mb-0 poppins-14 fw-600">Visa</p>
                    </div>
                  </th>
                </tr>
              </thead>

              <tbody class="table-row-shadow mt-4 border-0" *ngFor="let item of investorForm; index as i">
                <!-- (click)="showDiv(item._id)" -->
                <tr class="mt-2 border-0" >
                  <td>
                    <div class="d-flex align-items-center px-3 poppins-14 h-45" >
                      {{ item.name | titlecase }}
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center px-3 poppins-14 h-45" >
                      {{ item.nationality | titlecase }}
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center px-3 poppins-14 h-45" >
                      {{ item.equityPercent }}
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center px-3 poppins-14 h-45" >
                      {{ item.profitPercent }}
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center px-3 poppins-14 h-45" >
                      {{ item.amount }}
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center ps-3 poppins-14 h-45" >
                      {{ item.visa? "Yes" : "No" }}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
