.poppins-18 {
    font-size: 18px;
}

.poppins-14 {
    font-size: 14px;
}

.poppins-16 {
    font-size: 16px;
}

.poppins-12 {
    font-size: 12px;
}

.poppins-28 {
    font-size: 28px;
}

.fw-600 {
    font-weight: 600;
}

.fw-normal {
    font-weight: normal;
}

.bg-blue-light {
    background: #edf5ff;
}

.h-55 {
    height: 55px;
}

.h-45 {
    height: 45px;
}

.h-92 {
    height: 92px;
}

.text-muted-1 {
    color: #4a5568;
}

.text-muted-2 {
    color: #2d3748;
}

.mr-4 {
    margin-right: 40px;
}

// te4mplateinput,
input::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: normal;
    // line-height: 3;
}

@mixin placeholderPosition {
    bottom: -9px;
    right: 32px;
    opacity: 0.6;
}

.percentage{
    @include placeholderPosition;
}

.currency{
    @include placeholderPosition;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .text-small{
      font-size: 12px;
  }