.poppins-18 {
    font-size: 18px;
}
.Poppins-18-color{
    color: #000000;
    margin-left: 15px;
}

.poppins-14 {
    font-size: 14px;
}

.poppins-16 {
    font-size: 16px;
}

.poppins-12 {
    font-size: 12px;
}

.poppins-28 {
    font-size: 28px;
}

.fw-600 {
    font-weight: 600;
}

.fw-normal {
    font-weight: normal;
}

.bg-blue-light {
    background: #edf5ff;
}

.h-55 {
    height: 55px;
}

.h-45 {
    height: 45px;
}

.h-92 {
    height: 92px;
}

.text-muted-1 {
    color: #4a5568;
}

.text-muted-2 {
    color: #2d3748;
}

.mr-4 {
    margin-right: 40px;
}

// .btn-width {
//     width: 105px;
// }
.table-bordered
{
     border: 1px solid #000000!important;
}
.thWidth{
    width: 256px;
    height: 60px;
    padding: 0px;
    
}

.fw-500{
    font-weight: 500 !important;
}

.fw-600{
    font-weight: 600 !important;
}

.fw-800{
    font-weight: 800 !important;
}