<div class="container">
    <div class="row m-0">
        <div class="d-flex justify-content-between  align-items-center  ms-0 ps-0">
            <h5 class="poppins-18 fw-600 mb-0">Summary & Payment</h5>
            <button class="btn btn-primary btn-width poppins-12 fw-600">Pay {{ overallCosting() }} AED</button>
        </div>
        <div class="table-responsive mt-4 p-0">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="thWidth">
                            <p class="poppins-18 fw-600  Poppins-18-color "> Category</p>
                        </th>
                        <th class="thWidth">
                            <p class="poppins-18 fw-600  Poppins-18-color"> Detail</p>
                        </th>
                        <th class="thWidth">
                            <p class="poppins-18 fw-600  Poppins-18-color"> Cost</p>
                        </th>
                        <th class="thWidth">
                            <p class="poppins-18 fw-600  Poppins-18-color"> Frequency</p>
                        </th>
                    </tr>
                </thead>
                <tbody class="table-bordered">
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <p class="poppins-14 fw-normal mb-0"> Type of Licence</p>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-between">
                                <p class="poppins-14 fw-normal "> {{ typeOfLicense.licenceType }}</p>
                                <img  src="../assets/icon_Edit.svg" class="cursor-pointer"alt="" (click)="goToPage(0,1)">
                            </div>
                        </td>
                        <td>
                            <p class="poppins-14 fw-normal mb-0">{{ typeOfLicense.cost }} AED</p>
                        </td>
                        <td>
                            <p class="poppins-14 fw-normal mb-0">Annual</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="poppins-14 fw-normal mb-0">Included Business Activities </p>
                        </td>
                        <td>
                            <div class="d-flex justify-content-between">
                                <p class="poppins-14 fw-normal " *ngFor="let objective of businessObjective.businessActivity">{{ objective.activityNameEN }}</p>
                                <img src="../assets/icon_Edit.svg" class="cursor-pointer"(click)="goToPage(0, 1)" alt="">
                            </div>
                        </td>
                        <td>
                            <p class="poppins-14 fw-normal"></p>
                        </td>
                        <td>
                            <p class="poppins-14 fw-normal"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="poppins-14 fw-normal mb-0">Facility </p>
                        </td>
                        <td>
                            <div class="table-responsive p-0">
                                <table class="table table-bordered">
                                    <thead>
                                            <th>
                                                <p class="poppins-12 fw-500 mb-0"> Emirate</p>
                                            </th>
                                            <th>
                                                <p class="poppins-12 fw-500 mb-0"> Facility Type</p>
                                            </th>
                                            <th>
                                                <p class="poppins-12 fw-500 mb-0"> Size</p>
                                            </th>
                                            <th>
                                                <p class="poppins-12 fw-500 mb-0"> Cost</p>
                                            </th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let facility of facilitiesRequired">
                                            <td> <p class="poppins-12 fw-normal mb-0">{{ facility.emirate }}</p></td>
                                            <td> <p class="poppins-12 fw-normal mb-0">{{ facility.spaceType }}</p></td>
                                            <td> <p class="poppins-12 fw-normal mb-0">{{ facility.size }}</p></td>
                                            <td> <p class="poppins-12 fw-normal mb-0">{{ facility.cost }}</p></td>
                                        </tr>
                                        

                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="d-flex justify-content-between">
                                <p class="poppins-14 fw-normal mb-0"> Type: Warehouse <br> Size: 100 Sq Metre <br>Licensing Authority: SAIF<br> Zone</p>
                                <img src="../assets/icon_Edit.svg" class="cursor-pointer"alt="">
                            </div> -->
                        </td>
                        <td>
                            <p class="poppins-14 fw-normal">{{ totalFacilityCost() }} AED</p>
                            <img src="../assets/icon_Edit.svg" class="cursor-pointer"(click)="goToPage(1,7)" alt="">
                        </td>
                        <td>
                            <p class="poppins-14 fw-normal">Annual</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="poppins-14 fw-normal mb-0">Number of Investors Visa</p>
                        </td>
                        <td>
                            <div class="d-flex justify-content-between">
                                <p class="poppins-14 fw-normal mb-0"> {{ noOfInvestorVisaRequired }}</p>
                                <img src="../assets/icon_Edit.svg" class="cursor-pointer"class="cursor-pointer"(click)="goToPage(2,1)" alt="">
                            </div>
                        </td>
                        <td>
                            <p class="poppins-14 fw-normal ">{{ noOfInvestorVisaRequired *  visaCosting.investorVisa  }}</p>
                        </td>
                        <td>
                            <p class="poppins-14 fw-normal"></p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p class="poppins-14 fw-normal mb-0">Legal Structure </p>
                        </td>
                        <td>
                            <div class="d-flex justify-content-between">
                                <p class="poppins-14 fw-normal mb-0"> 
                                    <!-- {{legalZone}},  -->
                                    {{ legalStructure }} Company</p>
                                <img src="../assets/icon_Edit.svg" class="cursor-pointer"class="cursor-pointer"(click)="goToPage(2,1)" alt="">
                            </div>
                        </td>
                        <td>
                            <p class="poppins-14 fw-normal"></p>
                        </td>
                        <td>
                            <p class="poppins-14 fw-normal"></p>
                        </td>
                    </tr>
                   
                    <tr>
                        <td>
                            <p class="poppins-14 fw-normal mb-0">Investor Visa Required </p>
                        </td>
                        <td>
                            <div class="d-flex justify-content-between">
                                <p class="poppins-14 fw-normal mb-0"> {{  noOfInvestorVisaRequired !== 0 ? "Yes" : "No"}}</p>
                                <img src="../assets/icon_Edit.svg" class="cursor-pointer"class="cursor-pointer"(click)="goToPage(2,1)" alt="">
                            </div>
                        </td>
                        <td>
                            <p class="poppins-14 fw-normal mb-0 "></p>
                        </td>
                        <td>
                            <p class="poppins-14 fw-normal mb-0 "></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="poppins-14 fw-normal mb-0">Employee Visa Required </p>
                        </td>
                        <td>
                            <div class="d-flex justify-content-between">
                                <p class="poppins-14 fw-normal mb-0"> {{ visaRequired !== 0 ? "Yes" : 'No' }}</p>
                                <img src="../assets/icon_Edit.svg" class="cursor-pointer"class="cursor-pointer"(click)="goToPage(1, 6)" alt="">
                            </div>
                        </td>
                        <td>
                            <p class="poppins-14 fw-normal mb-0"></p>
                        </td>
                        <td>
                            <p class="poppins-14 fw-normal mb-0"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="poppins-14 fw-normal mb-0">Number of Employee Visa</p>
                        </td>
                        <td>
                            <div class="d-flex justify-content-between">
                                <p class="poppins-14 fw-normal mb-0"> {{ visaRequired }}</p>
                                <img src="../assets/icon_Edit.svg" class="cursor-pointer"(click)="goToPage(1, 6)" alt="">
                            </div>
                        </td>
                        <td>
                            <p class="poppins-14 fw-normal mb-0">{{ visaRequired * visaCosting.employeeVisa  }}</p>
                        </td>
                        <td>
                            <p class="poppins-14 fw-normal mb-0"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="poppins-14 fw-600 mb-0">Total Fee </p>
                        </td>
                        <td>
                            <div class="d-flex justify-content-between">
                                <p class="poppins-14 fw-normal mb-0"></p>
                            </div>
                        </td>
                        <td>
                            <p class="poppins-14 fw-600 mb-0 ">{{ totalFacilityCost() + (this.noOfInvestorVisaRequired * this.visaCosting.investorVisa) +
                                (   this.visaRequired * this.visaCosting.employeeVisa )+
                                   this.typeOfLicense.cost  }} AED</p>
                        </td>
                        <td>
                            <p class="poppins-14 fw-normal mb-0 "></p>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td>
                            <p class="poppins-14 fw-normal mb-0">Bank Account Initial Deposit </p>
                        </td>
                        <td>
                            <div class="d-flex justify-content-between"> -->
                                <!-- <p class="poppins-14 fw-normal mb-0"> United Bank of Arab</p> -->
                                <!-- <img src="../assets/icon_Edit.svg" class="cursor-pointer"alt=""> -->
                            <!-- </div>
                        </td>
                        <td>
                            <p class="poppins-14 fw-normal mb-0">{{ findSetupDetails('bank initial deposit')}} AED</p>
                        </td>
                        <td>
                            <p class="poppins-14 fw-norma mb-0">one-off</p>
                        </td>
                    </tr> -->
                    <!-- <tr>
                        <td>
                            <p class="poppins-14 fw-normal mb-0">Total Authority Fees </p>
                        </td>
                        <td>
                            <div class="d-flex justify-content-between">
                                <p class="poppins-14 fw-normal mb-0"> </p>
                            </div>
                        </td>
                        <td>
                            <p class="poppins-14 fw-normal mb-0">{{ findSetupDetails('authority fee')}} AED</p>
                        </td>
                        <td>
                            <p class="poppins-14 fw-normal mb-0"></p>
                        </td>
                    </tr> -->
                    <tr *ngFor="let setup of setupDetails;index as i">
                        <td>
                            <p class="poppins-14 fw-normal mb-0">{{ i === 0 ? 'Professional Fees ' : ''}}</p>
                        </td>
                        <td>
                            <div class="d-flex justify-content-between">
                                <p class="poppins-14 fw-normal mb-0"> {{setup.costType | titlecase}}</p>
                                <!-- <img src="../assets/icon_Edit.svg" class="cursor-pointer"alt=""> -->
                            </div>
                        </td>
                        <td>
                            <p class="poppins-14 fw-normal mb-0">{{ setup.cost }} {{ setup.currency }}</p>
                        </td>
                        <td>
                            <p class="poppins-14 fw-normal mb-0">one-off</p>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td>
                            <p class="poppins-14 fw-normal mb-0"></p>
                        </td>
                        <td>
                            <div class="d-flex justify-content-between">
                                <p class="poppins-14 fw-normal mb-0"> Bank account Opening</p>
                                <img src="../assets/icon_Edit.svg" class="cursor-pointer"alt="">
                            </div>
                        </td>
                        <td>
                            <p class="poppins-14 fw-normal mb-0">{{ findSetupDetails('Bank account Opening') }} AED</p>
                        </td>
                        <td>
                            <p class="poppins-14 fw-normal mb-0">one-off</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="poppins-14 fw-normal mb-0"></p>
                        </td>
                        <td>
                            <div class="d-flex justify-content-between">
                                <p class="poppins-14 fw-normal mb-0">Visa Processing</p>
                                <img src="../assets/icon_Edit.svg" class="cursor-pointer"alt="">
                            </div>
                        </td>
                        <td>
                            <p class="poppins-14 fw-normal mb-0">{{ findSetupDetails('Visa Processing') }} AED</p>
                        </td>
                        <td>
                            <p class="poppins-14 fw-normal mb-0">Annual</p>
                        </td>
                    </tr> -->

                    <tr>
                        <td>
                            <p class="poppins-14 fw-600 mb-0">Total Setup Fees</p>
                        </td>
                        <td>
                            <div class="d-flex justify-content-between">
                                <p class="poppins-14 fw-normal mb-0"></p>
                            </div>
                        </td>
                        <td>
                            <p class="poppins-14 fw-600 mb-0">{{ totalSetupCost() }} AED</p>
                        </td>
                        <td>
                            <p class="poppins-14 fw-normal mb-0"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="poppins-14 fw-normal mb-0 fw-800">Total to be paid</p>
                        </td>
                        <td>
                            <div class="d-flex justify-content-between">
                                <p class="poppins-14 fw-normal mb-0"></p>
                                <img src="" alt="">
                            </div>
                        </td>
                        <td>
                            <p class="poppins-14 fw-800 mb-0">{{overallCosting()}} AED</p>
                        </td>
                        <td>
                            <p class="poppins-14 fw-normal mb-0"></p>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
        </div>
    </div>
