/* You can add global styles to this file, and also import other style files */

* {
    /*font-family: "Roboto", sans-serif;*/
    font-family: 'Poppins', sans-serif;
}

.cursor-pointer{
    cursor: pointer;
}